[2015-06-30 05:42] hahndorf opened #3 "Disk vs volume/partition"
I am a bit confused here. The xDisk resource takes a DiskNumber and a DriveLetter parameter, but one never assigns a drive letter to a disk, but to a partition.

In the code it is assumed that each disk only has one partition.

If multiple partitions (volumes) exists on a disk, the configuration doesn't change the drive letter but doesn't throw an error.

Also what if I want to assign a drive lett

[2015-07-08 17:11] msperrin commented on #3
The resource actually sets a reboot as part of Set-TargetResource and the node will reboot after each disk is processed if RebootNodeifneeded = $true in the LCM config.

76  $global:DSCMachineStatus = 1

Not sure why there is a need to reboot after formatting a disk but I would suggest this should be removed and to allow XpendingReboot to handle any reboots that get set. (Unless the author had a g

[2015-07-09 19:00] KarolKaczmarek commented on #3
I believe your concerns are addressed by #4
Please take a look and add comments to the PR if you have some additional feedback.
Thanks!

[2015-07-10 02:41] hahndorf commented on #3
Ok, I see.
I can also see the same pull request removes:

     $global:DSCMachineStatus = 1

so both my issues are already worked on.

[2015-07-10 02:41] #3 closed

[2015-07-10 02:50] mgreenegit commented on #3
Hello.  I was one of the original contributors to the resource.  During testing, we needed data disks to be configured and then guarantee they would be available as soon as possible for a service installation.  Across different environments, we would occasionally see errors where the volume was not yet available for the next resource to utilize and the configuration would fail.  The best way to re

[2015-09-14 03:51] PlagueHO opened #8 "Documentation for xWaitForDisk is Incorrect"
It refers to a parameter "Count". This parameter does not exist. It should be "RetryCount".

[2015-09-16 18:25] #8 closed

[2015-10-26 04:53] nebffa opened #11 "xDisk resource does not support resizing an existing partition"
If you do something like:

[code]

followed by

[code]

(note that the only difference is the size specified for `DVolume`)

The DSC run will fail:

[code]

[2015-10-30 17:58] KarolKaczmarek opened #12 "Fix PSScriptAnalyzer issues"
[code]

[2016-02-17 06:26] PlagueHO opened #20 "Add Unit and Integration Tests for Resources"

[2016-02-20 09:04] TravisEz13 opened #22 "When xDisk AllocationUnitSize is mismatched, test-targetresource should return false or throw"
I don't believe a warning alone is acceptable.  We can add another property to say it is acceptable not to change the AllocationUnitSize if the disk is already formatted, but without that described the behavior should be to get to the desired state.

[2016-02-20 09:34] TravisEz13 opened #23 "xDisk fails in Test-TargetResource with error about BlockSize"
[code]

[2016-02-20 23:34] TravisEz13 opened #24 "xDisk needs unit tests"
I added unit tests for issues #23, in PR #21, but it still needs tests to cover existing functionality.

[2016-02-21 20:14] MS-MatthewWalker opened #25 "If file system present, should set drive letter"
If mounting a volume with pre-existing data at least set the drive letter

[2016-02-23 00:19] #23 closed

[2016-03-11 08:16] drmiru opened #28 "Test-TargetRessource throws an error (comparing block sizes fails at line 225)"
if($BlockSize -gt 0 -and $AllocationUnitSize -ne 0)

should be..
if($BlockSize.**BlockSize** -gt 0 -and $AllocationUnitSize -ne 0)

[2016-03-12 16:19] Kaidja commented on #23
Hello,

Is this bug fixed? Im using latest version on my Azure VM and I still see this issue.

Best,
Kaido

[2016-03-13 07:06] TravisEz13 commented on #23
The latest released version or the latest dev version.  The dev version is fixed.  It has not been released.

[2016-03-13 07:08] TravisEz13 commented on #23
There are instructions in install [developement builds here.](https://github.com/PowerShell/dscResources#development-builds)

[2016-03-13 08:17] Kaidja commented on #23
Im using the production release.

Best,
Kaido

[2016-03-16 04:23] Zuldan commented on #28
Confirmed this is an issue.

Other solutions...

$BlockSize = Get-WmiObject -Query "SELECT BlockSize from Win32_Volume WHERE DriveLetter = '$($DriveLetter):'" -ErrorAction SilentlyContinue  | select <b>-ExpandProperty</b> BlockSize

or

$BlockSize = <b>(</b>Get-WmiObject -Query "SELECT BlockSize from Win32_Volume WHERE DriveLetter = '$($DriveLetter):'" -ErrorAction SilentlyContinue<b>).BlockSize</

[2016-03-19 21:03] J0F3 commented on #28
Is apparently already fixed in the dev branch with the Pull Request #19 from @Richiban.
So the issue should be gone with the next release to the PS gallery.

[2016-03-29 19:30] jpogran opened #29 "xDisk does not show error message"
xDisk does not show the caught Exception in the catch block in the Set-TargetResource function: https://github.com/PowerShell/xStorage/blob/dev/DSCResources/MSFT_xDisk/MSFT_xDisk.psm1#L149

The code `$($Error[0])` is incorrect, and does not actually show the caught exception.

[2016-04-14 09:24] bourgeoisrebel opened #33 "Multiple volumes on same disk"
In 2.4 the code below would successfully split a single disk in to multiple volumes. In 2.5 it detects the disk exists, and removes any existing volumes and creates the new one, reporting ERRORS. Thus it eventually leaves you with only one volume on a partially utilized disk

# Mount and inititalise disks
	    xWaitforDisk Disk
        {
             DiskNumber = 2
             RetryIntervalSec =

[2016-04-22 20:30] timomta opened #34 "Duplicate Identical Module Versions Break Import-DSCResource and Publish-AzureVMDscConfiguration"
When I install the module, I get duplicate entries. This causes Publish-AzureVMDSCConfiguration to fail when attempting to resolve the module.

Below is the output of the installation showing the dup. xStorage was not previously installed on this machine, so it was not preexisting.

PS C:\Program Files\WindowsPowerShell\Modules> Install-Module xStorage

Untrusted repository
You are installing the

[2016-04-22 20:59] TravisEz13 commented on #34
What is $env:psmodulepath  Do you have a path listed twice?

[2016-04-22 21:21] timomta commented on #34
Hi Travis, no C:\Program Files\WindowsPowerShell\Modules shows a single directory for xStorage and a single 2.5.0.0 within that directory:

From: Travis Plunk [mailto:notifications@github.com]
Sent: Friday, April 22, 2016 1:59 PM
To: PowerShell/xStorage <xStorage@noreply.github.com>
Cc: Tim Omta <timomta@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [PowerShell/xStorage] Duplicate

[2016-04-22 21:25] TravisEz13 commented on #34
What is your `$env:psmodulepath` when running in Powershell?
Can you run "$env:psmodulePath" and send the output?

[2016-04-22 21:31] timomta commented on #34
Hi Travis,

Here is my path:

C:\Users\tomta\Documents\WindowsPowerShell\Modules;C:\Program Files\WindowsPowerShell\Modules;C:\WINDOWS\system32\Window

sPowerShell\v1.0\Modules\;C:\Program Files (x86)\Microsoft SQL Server\120\Tools\PowerShell\Modules\;C:\Program Files\Mic

rosoft Message Analyzer\PowerShell\;C:\Program Files\WindowsPowerShell\Modules\;C:\Program Files (x86)\Microsoft SDKs\Az

ure\

[2016-04-22 21:43] timomta commented on #34
Travis, that duplicate entry in my module path was the problem. Some extraordinarily helpful installer must have added it sometime in the past and I didn’t see it.

Thanks for prompting me to review that path.

From: Travis Plunk [mailto:notifications@github.com]
Sent: Friday, April 22, 2016 2:25 PM
To: PowerShell/xStorage <xStorage@noreply.github.com>
Cc: Tim Omta <timomta@hotmail.com>; Author <a

[2016-04-22 21:44] TravisEz13 commented on #34
Here is your path reformated to one path per line and sorted, the problem is in bold.

* C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ResourceManager\AzureResourceManager\;
* C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\ServiceManagement\;
* C:\Program Files (x86)\Microsoft SDKs\Azure\PowerShell\Storage\
* C:\Program Files (x86)\Microsoft SQL Server\120\Tools\PowerShell\Modules

[2016-04-22 21:45] TravisEz13 commented on #34
Forgot to add, please confirm this resolves the issue so I can close this question.

[2016-04-22 21:51] timomta commented on #34
Confirmed: something added that path to my system environment PSModulePath. I remove it via Control Panel and everything is working as expected.

From: Travis Plunk [mailto:notifications@github.com]
Sent: Friday, April 22, 2016 2:45 PM
To: PowerShell/xStorage <xStorage@noreply.github.com>
Cc: Tim Omta <timomta@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [PowerShell/xStorage] Dupl

[2016-04-22 22:06] TravisEz13 commented on #34
Thanks for confirming, If you please the powershell behavior here is incorrect, please file an issue  on [PowerShell UserVoice](https://windowsserver.uservoice.com/forums/301869-powershell)

[2016-04-22 22:06] #34 closed

[2016-04-22 22:26] timomta commented on #34
Here you go Travis, please vote it up: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/13545987-duplicate-psmodulepath-entries-cause-module-resolu

From: Travis Plunk [mailto:notifications@github.com]
Sent: Friday, April 22, 2016 3:07 PM
To: PowerShell/xStorage <xStorage@noreply.github.com>
Cc: Tim Omta <timomta@hotmail.com>; Author <author@noreply.github.com>
Subject: Re:

[2016-04-22 23:14] timomta commented on #34
Issue logged here on PS UserVoice, please vote it up if you have this issue: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/13545987-duplicate-psmodulepath-entries-cause-module-resolu

[2016-04-25 20:37] mhendric opened #35 "ExampleScript.ps1 Imports xDiskImage instead of xStorage"
The title should be self explanatory. The ExampleScript.ps1 does not work, as it imports what appears to be an old name for this module, xDiskImage, instead of the current name, xStorage.

[2016-06-09 09:27] gigi81 opened #37 "xDisk does not set disk label if disk already exists"
On the xDisk dsc resource the following happens **when a disk already exists** but the disk label does not match the configured value:
- Test-DscResource return false (correct because the label does not match)
- Set-DscResource doesn't set the label (incorrect, should set the label)

[2016-06-14 14:59] ramit-rulz opened #39 "Create striped volume with multiple disks"
There should be a way to add multiple disks to a new volume.

[2016-07-05 19:24] TravisEz13 opened #41 "xDisk unit tests fail"

[2016-07-05 19:33] #41 closed

[2016-08-04 01:44] MS-MatthewWalker opened #45 "No drive letter assigned if volume exists, but no drive letter assigned"
if a disk is present with a file system, but no drive letter assigned - will fail to assign drive letter with error that Null value is not allowed for parameter.

Code in module presumes a drive letter is assigned.

[2016-08-11 22:27] #45 closed

[2016-08-15 05:18] Zuldan opened #47 "xDisk - Feature Request - MountPoints"
https://powershell.org/forums/topic/dsc-resource-for-mount-points/

Please kindly add support for mount points. Many server admins use Mount Points instead of Driver Letters. Example SQL Server which requires database files to be split over many LUNs to deal with queue depth issues.

So instead of...

[code]

...you could do...

[code]

[2016-08-15 23:18] MikaelSmith opened #48 "xMountImage on Windows 10 VM fails"
Trying to use the 2nd example in https://github.com/PowerShell/xStorage#examples, I get an error
[code]
when trying to change the drive letter.

This appears to happen because https://github.com/PowerShell/xStorage/blob/dev/DSCResources/MSFT_xMountImage/MSFT_xMountImage.psm1#L94 returns null. When I run that manually the ObjectId of the image has extra strings in it so it doesn't match the DeviceI

[2016-08-16 00:59] Zuldan commented on #47
Some example code...

$Disk = Get-Disk 3
# $Disk | Clear-Disk -RemoveData -Confirm:$false
$Disk | Initialize-Disk -PartitionStyle MBR
$disk | New-Partition -UseMaximumSize -MbrType IFS
$Partition = Get-Partition -DiskNumber $Disk.Number
$Partition | Format-Volume -FileSystem NTFS -Confirm:$false
$Partition | Add-PartitionAccessPath -AccessPath "G:\Folder01"

[2016-08-16 08:55] PlagueHO commented on #47
Hi @Zuldan - I'll add it to my backlog :smile: Will see if I can take a look this weekend. Sounds like a pretty useful feature to me though.

The only thing would be I'd need to eliminate the tech debt on this resource at the same time - which might stretch this change out a bit. But I'll give it a shot.

[2016-08-16 09:27] Zuldan commented on #47
@PlagueHO you rock mate! I'm surprised the mount point option hasn't already been added.

I'm trying to finish off this standard SQL build and having this feature would make it 10x better. If I can help in anyway please let me know.

[2016-08-18 17:26] MikaelSmith commented on #48
I'm not finding explicit documentation tying the IDs together. Would it be appropriate to do a string match to find DeviceID in ObjectId?

[2016-08-19 00:31] #28 closed

[2016-08-19 00:31] kwirkykat commented on #29
Fixed in #30

[2016-08-19 00:31] #29 closed

[2016-08-19 15:34] pshellguruwannabe opened #50 "xDisk - Feature Request - Destructive Switch"
Would it be possible to add a Destructive switch to the schema so that existing partitions/volumes could be destroyed with Clear-Disk.

Thanks.

[2016-08-20 04:06] PlagueHO opened #51 "Update xDisk unit tests to x1.1.0 Template"
This includes converting Global to Script variables and using InModuleScope where applicable.

[2016-08-20 04:07] PlagueHO opened #52 "Add Unit tests and Integration tests"
Create unit tests and integration tests (where possible) for all resources.

[2016-08-20 04:08] PlagueHO commented on #52
That's embarassing- I already logged this ages ago. I'll close this.

[2016-08-20 04:08] #52 closed

[2016-08-20 04:09] PlagueHO commented on #12
I'll start looking into these tomorrow.

[2016-08-20 04:25] Zuldan commented on #47
Just about finished writing the SQL configuration. Had to create a dirty script resource for configuring trace flags (https://github.com/PowerShell/xSQLServer/issues/110). Only thing remaining is mount points for the iSCSi LUNs (if you can't fit it in this weekend, no worries). Btw, your ISCSi resource works perfectly!

[2016-08-20 04:40] PlagueHO commented on #47
It's on my list for tomorrow :) Will do my best. This resource module has a lot of tech debt that needs to be addressed but I'm planning on having a go at it tomorrow :smile:

[2016-08-20 05:40] Zuldan commented on #47
Understood. Very grateful.

[2016-08-21 03:50] PlagueHO commented on #47
Hi @Zuldan - unfortunately this resource module is in worse shape than I thought. My main concern is that the existing unit tests are very limited in scope and there are no integration tests at all (it should be possible to create them). I raised an issue 6 months ago to get this resolved but no one has picked it up.

So I'll need to get it done. I just did it with xCertificate so I'm getting good

[2016-08-21 03:52] PlagueHO opened #53 "Convert xStorage to HQRM standards"
This does not necessarily require renaming this module to HQRM naming but this module should be updated to bring it inline with current HQRM standards.

I'm working on this at the moment.

[2016-08-21 04:23] Zuldan commented on #47
@PlagueHO, thank you so much for looking into it. I think a seperate resource makes sense (there is no such thing as a drive label for mount points). Here are my thoughts...

I would make xMountPartition (or xMountPoint?) completely seperate to xDisk. So basically xMountPartition would not reference a drive letter (like in your second example). I cannot think of a situation where you would want to

[2016-08-21 07:13] PlagueHO commented on #47
Hi @Zuldan -

Good point about the Drive Letter - I'd rather not include the option if it wasn't required.

So the MOF would look like:
[code]

However, in this case I'd recommend against using class based resources because it prevents use on WMF4 nodes (a large amount of enterprises still haven't upgraded to WMF5 - and may lag behind still for sometime). In general all DSC Resource Kit resources

[2016-08-21 08:44] PlagueHO opened #54 "Add support for formatting Disk with ReFS in xDisk"
Any disk formatted during initialization in xDisk is formatted with NTFS.

Should add an optional parameter with FSFormat that defaults to NTFS. It could accept NTFS or ReFS.

Note: If a disk is already formatted with a different format then a warning should be shown by an error should not be thrown.

[2016-08-21 08:59] Zuldan commented on #54
Good idea. With ReFS even better in Server 2016 I figure it's going to be used more.

[2016-08-21 09:21] Zuldan commented on #47
@PlagueHO, MOF looks good except I would remove FSLabel as it's only for drive letters. Also typo with xMountParition should be xMountPartition. I'm also not exactly sure PartitionNumber is needed either. xDisk always creates just 1 partition. You can't have multiple partitions on a volume and each with their own drive letter using xDisk. Maybe it was never implemented to keep things simple and pr

[2016-08-21 09:43] PlagueHO commented on #47
@Zuldan - good thinking. Makes perfect sense about the partitions. So:
[code]
I changed name to xMointPoint like suggested as well.

I've completed about 33% of the HQRM changes but it will take another couple of nights to completely finish (as I have to write unit tests and some integration tests which takes a while because I didn't write the original code). I've also got to finish the conversion

[2016-08-21 10:29] Zuldan commented on #47
No stress over getting this one done. If it's last in the queue that's fine with me. Go go iSCSI to MSFT! Super exciting stuff.

With regards to xMountPoint. How about we go with your idea from https://github.com/PowerShell/xStorage/issues/54 and include a FileSystem property. With NTFS and ReFS as options but NTFS as default.

[ClassVersion("0.1.0.0"), FriendlyName("xMountPoint")]
class MSFT_xMou

[2016-08-21 16:53] detailedschematic opened #55 "Use a disk's unique id with the xDisk resource?"
Can we incorporate a disk's unique id (NAA ID) into the xDisk resource?

During a SQL Server failover cluster build with SAN attached storage, I noticed that disk numbers assigned by Windows do not necessarily follow the increasing order of NAAIDs during LUN creation.

**Example:**
NAAID '100A', VolumeLabel 'Data'   -> WindowsAssignedDiskNum 0 (expected 0)
NAAID '100B', VolumeLabel 'Logs'   -> Win

[2016-08-23 08:25] PlagueHO opened #56 "Set DriveLetter as key for xMountImage and remove Name"
The xMountImage resource is defined in a way that it can easily cause invalid configurations.

The Name parameter is the current Key and should not be required or used at all. It should be removed completely.

The DriveLetter parameter should be set as the Key for this resource. This will prevent invalid configurations (where a two different images are mounted to the same drive).

The ImagePath pa

[2016-08-23 08:27] PlagueHO commented on #35
I have resolved this as part of #53.

[2016-08-23 08:29] PlagueHO commented on #22
Once I've got #53 done we should be OK to work on this. The lack of tests in this module worry me a bit.

[2016-08-23 08:29] PlagueHO commented on #20
This is in progress as part of #53.

[2016-08-23 08:30] PlagueHO commented on #11
I'll look into this once #53 is complete.

[2016-08-23 08:36] PlagueHO opened #57 "Update all MOF Class versions to 1.0.0.0"
Currently all MOF Classes in xStorage are set to version 0.1.0.0.

I don't believe this should be the case for a released Resource. These should all be upgraded to 1.0.0.0

I'd propose doing this as part of #53.

[2016-08-23 10:02] PlagueHO commented on #47
I'm about halfway done on #53, but in doing it I've found numerous issues that need to be resolved. So I've raised them as issues I'll resolve these at the same time. So I'll need some feed back from the DSC community on the changes before I can finish.

[2016-08-23 10:38] Zuldan commented on #47
No worries mate. Thanks for the heads up.

If you're ever on Gitter give me a shout. I just have a couple of questions about version control software.

[2016-08-23 15:55] gaelcolas opened #58 "Mounted ISO is not available straight after mounting"
When I have a DSC resource mounting an ISO, the mounted image is not available straight away:
[code]
This fails, unless I refresh the PS drives by adding `$null = Get-PSDrive`

It'd be good to add this in the xMountImage Set-TargetResource scriptblock.

[2016-08-23 17:06] kwirkykat commented on #58
@gaelcolas What happens if you add ```DependsOn = "[xMountImage]MOUNT_ISO"``` as a property in your Script resource to ensure that the xMountImage resource is run before the script resource starts? Still the same performance issue?

[2016-08-24 10:29] PlagueHO commented on #54
@kwirkykat  - As I'm working on this resource as part of #53, do you have any objection to me including this change in that submission?

[2016-08-24 20:19] TravisEz13 commented on #56
@PlagueHO
Images cannot be mounted to mount points?
Can images be mounted to multiple drive letters?

Do we want to support either of these cases?

[2016-08-24 20:20] TravisEz13 commented on #22
@PlagueHO Thanks

[2016-08-25 07:14] PlagueHO commented on #56
@TravisEz13 - good points.

1. ISO Images can't be assigned to folder mount point (like disk volumes can be) - but as far as I can tell, only via the UI (Disk Management allows it). I haven't been able to manage this via PS. The ```Add-PartitionAccessPath``` cmdlet only supports mounting partitions on disks to folders - not DiskImages themselves.

But if there is a method then it would be great to

[2016-08-25 07:29] PlagueHO commented on #58
There is a delay before a mounted image shows up.

We could do one of the following things:
1. Add a new resource called "xWaitForDiskImage" - this would be almost identical to "xWaitForDisk" - so wouldn't be a big difficulty implementing.

2. Add a parameter to the xMountImage to force it to "Wait" for the image to complete mounting and be available before continuing. But if we did that we'd want

[2016-08-25 08:56] johlju commented on #58
I would agree to go with option 1

[2016-08-25 12:24] mgreenegit commented on #58
That would be my feedback as well.  WaitForDisk started because of this behavior exactly concerning disks, so it would be consistent to do the same for images.  Good call.

[2016-08-25 19:35] PlagueHO commented on #58
Ok cool. I'll get it done as part of #53. Will have that completed as soon as I get some feedback on the other suggested changes. All the unit and integration tests are complete now.

[2016-08-25 19:35] PlagueHO commented on #58
Ok cool. I'll get it done as part of #53. Will have that completed as soon as I get some feedback on the other suggested changes. All the unit and integration tests are complete now.

[2016-08-25 20:08] TravisEz13 commented on #56
@PlagueHO, One scenario I see that would be difficult to support with that is

It might be better to make `driveletter` an array (and therefore not a key) and you must specify all mount points in one resource.... also ... not great.

[2016-08-25 20:15] gaelcolas commented on #58
Damn, I just realized that none of my previous posts made it here from my mobile! :/

Yes @kwirkykat, same result with DependsOn.

The delay is not with mounting the iso as you may have with disks, but with refreshing the PS drives. In my example I wait 5 seconds, much more than necessary for the iso to be mounted.
You can see that when running and watching the GUI, ISO is mounted straight away, b

[2016-08-25 23:28] #48 closed

[2016-08-26 06:41] PlagueHO commented on #56
@TravisEz13 hmm. I think your suggestion could actually be workable.

We'd have two possible MOF formats:
1.
[code]
The resource would need a check to validate that at least one drive letter was set if Ensure was "present", but none were set if Ensure was "Absent".

2.
[code]
That one would dismount the image from all drives IF DriveLetter was an empty array. Otherwise it would mount the image to

[2016-08-26 10:01] PlagueHO commented on #57
@TravisEz13, @kwirkykat  - any objections to doing this?

[2016-08-26 10:05] PlagueHO commented on #51
I've done this as part of #53. Just waiting on #38 to be merged and a plan for #56 (so I can complete the changes for this).

[2016-08-26 10:07] PlagueHO commented on #47
I've done as much as I can do on #53. Just waiting on #38 to be merged and a plan for #56 so I can submit the final HQRM version.

[2016-08-27 05:17] PlagueHO commented on #58
Just working on this: I'm thinking that it should be "xWaitForDrive" rather than "xWaitForDiskImage". This is because it is actually going to wait for the drive (using PSDrive) as @gaelcolas suggests. Therefore it could be used in other scenarios:

For example it could actually work for a Windows Cluster server to trigger some action when a disk connects after a failover occurs (e.g. the DSC confi

[2016-08-27 05:58] PlagueHO commented on #12
Looking at this one, I think this should have already been resolved. I actually think this was an old issue with PSGallery validation that they fixed a while back (I used to get the problem with my resources until it stopped happening).

I'd suggest closing this issue. If it occurs after the next release to PSGallery then reopen it. @KarolKaczmarek ?

[2016-08-27 05:59] PlagueHO commented on #24
Working on this now but need #38 merged before I can complete it.

[2016-08-27 06:02] PlagueHO commented on #58
I've completed this resource (with unit/integration tests) and it should be up to HQRM standards. I'll commit it once I have feedback on the name "xWaitForDrive"- it'll go in as part of #53 - which is currently being blocked by #38, #57 and #56.

[2016-08-27 06:13] Zuldan commented on #58
Great work Daniel. Can't wait to see what a HQRM (that's been created from scratch) looks like.

With regards to the name. To list disks you use Get-Disk (hence xWaitForDisk). To get the drives on those disks you use Get-Volume. So technically the resource should be (at least I think) xWaitForVolume. This would also avoid confusion with similar names (xWaitForDisk and xWaitForDrive). What are your

[2016-08-27 07:56] PlagueHO commented on #58
Thanks @Zuldan! This won't really have been created from scratch of course though - [this resource](https://github.com/PowerShell/SystemLocaleDsc) was created from scratch as HQRM. If I can bring xStorage up to HQRM standards though then hopefully it can be relabeled as an HQRM resource (StorageDsc).

I like your idea of xWaitForVolume - I think that is a much cleaner name. I'll rename it.

[2016-08-27 22:49] TravisEz13 commented on #56
I like option 1 better, but I think either are viable.        I think 1 because I think it's more obvious how to dismount.... maybe the values in the value map  could be clarified a bit.

[2016-08-29 10:43] PlagueHO commented on #53
Still working on this. Ran out of time to complete it this weekend. Will try to complete it this week.

[2016-08-29 10:58] PlagueHO commented on #56
Cool. Ok, I'll give it a couple more days and if there are no further comments I'll include option 1 with #53.

[2016-08-29 15:59] detailedschematic commented on #55
Just wanted to note that I was able to map NAA IDs to Windows disk numbers in Chef. I used Chef's powershell_out() function to execute Powershell code inside a Chef recipe, and use the output string with some logic, to determine the disk number supplied to the xDisk DSC resource.

In that way, I was able to completely and reliably automate the LUN configuration process using DSC with Chef - awesom

[2016-08-29 18:43] Zuldan commented on #55
@detailedschematic, if possible, could you kindly share with us your Chef/Powershell code so we can see the full solution?

[2016-08-29 18:55] kwirkykat commented on #54
@PlagueHO No objections. Just make sure it's separate in the release notes please.

[2016-08-30 01:20] kwirkykat commented on #57
@PlagueHO No objections as long as you're planning for the HQRM to release not under 'preview' (e.g. release as 1.0.0.0 instead of 0.1.0.0)

[2016-08-30 02:22] PlagueHO commented on #57
Hi @kwirkykat  - yes, definitely. Once #53 is completed (I'm including many of the fixes and feature requests) then I think we should consider this a RTM version (with your teams consent of course). I should have complete unit test coverage and complete integration coverage (there are some limitations on int. tests though).

I won't rename the resource using HQRM naming though, I'll leave that as

[2016-08-30 08:21] PlagueHO commented on #54
@kwirkykat  - cool. Will do!

[2016-08-30 09:52] PlagueHO commented on #37
I think this one is fixed so can be closed.

[2016-08-30 09:53] PlagueHO commented on #24
Have completed full unit test coverage on this as part of #53.

[2016-08-30 09:59] PlagueHO commented on #11
This one is possible but I think it will require implementation of a "Destructive" switch on the resource. The switch would allow destructive adjustments on the disk to be performed.

It is related to #50 and #54 if a reformat would be allowed.

[2016-08-30 10:02] PlagueHO commented on #54
I've finished the code change for this one in #53.

**Note:** If the disk format of the volume is different to the desired disk format a custom exception is thrown. However, it might be desirable to allow a "Destructive" change to a disk if required (e.g. to reformat the disk). This behaviour was requested in #50.

@TravisEz13, @kwirkykat  - is a "Destructive" switch something we should allow?

[2016-08-30 17:18] kwirkykat commented on #57
:+1:

[2016-09-01 23:25] PlagueHO commented on #53
Sorry I haven't finished this one (nearly there). I've had to re-prioritize because my company had an urgent need for a new feature in xService - which required moving it to HQRM first. I aim to complete this by the end of this weekend.

[2016-09-05 00:45] #12 closed

[2016-09-06 06:54] PlagueHO commented on #53
Still working on this one. About 80% done. I got held up completing the xService HQRM resource. So I'll aim to have this done by the end of this week. Taking tonight off DSC though :smile:

[2016-09-07 08:36] PlagueHO commented on #53
Just adding a task list here so I can track what I still need complete:
[ ] xDisk - Unit tests for Set-TargetResource (Get/Test complete - Set needs completion) #24 #20
[ ] xDisk - Complete change for Disk Format (Get/Test complete - Set needs completion) #54
[ ] xMountImage - Complete changes as per #56
[ ] xMountImage - Complete unit tests  #20
[ ] xMountImage - Update integration tests as per #

[2016-09-07 09:21] PlagueHO commented on #22
@TravisEz13 - I've actually included this change as part of #53. So differences to the disk that can't be changed (format, size, allocation unit size) will not trigger Set to be called.

Once #53 is completed then #50 (add a destructive switch) could be implemented to allow destructive changes to the disk.

[2016-09-09 23:43] PlagueHO commented on #56
Working on the changes to this one now.

[2016-09-10 05:03] PlagueHO commented on #56
@TravisEz13 - unfortunately I've run into a limitation with the *-DiskImage cmdlets that isn't going to allow support for mounting an ISO (or VHD) multiple times.

I can mount the same ISO twice using the following code:
![2016-09-10_16-54-39](https://cloud.githubusercontent.com/assets/7589164/18408055/516969fa-7777-11e6-8823-934245e1267d.png)

But as you can see, piping ```Get-DiskImage``` to ```

[2016-09-13 09:49] Zuldan commented on #47
Hi @PlagueHO, any chance at looking at xMountPoint since #38 is merged and #56 is stale due a bug? Sorry I know your really busy on many other resources. I don't want to come across as pushy. Tell me to bugger off if need be.

[2016-09-13 20:20] PlagueHO commented on #47
Hi @Zuldan - no worries! Completely understand.

I've added this item to my task list in #53.

I do have a bit of a concern though with allowing this resource to partition and format disks. This could lead to conflicts such as the same disk being provisioned twice using two different methods (xDisk and xMountPoint) - which could be done in two different ways (resulting in a config that would never

[2016-09-13 20:53] Zuldan commented on #47
@PlagueHO, happy to have the mount point feature as part of xDisk. I'm guessing removing key from DriveLetter will be a breaking changing though? Hopefully MS will be ok with it.

If you need me to do any testing, I'm more than happy to help.

Sounds like @kwirkykat and her colleagues are under the pump at the moment from management for the xPSDSC 21/09 deadline which maybe has something to do wit

[2016-09-16 20:20] PlagueHO commented on #47
@Zuldan- working hard on this one today so should have something for you by the end of play today (as part of #53). But I expect it won't be reviewed by the team for a while - so you'd need to use the Dev branch version for a bit :smile:

[2016-09-16 20:31] Zuldan commented on #47
@PlagueHO thank you so much! Really excited.

[2016-09-16 21:57] PlagueHO commented on #56
@TravisEz13 - I haven't been able to find anyway around the problems above. So I think I'll go with the original plan and just remove the "Name" parameter as it was redundant and actually caused more problems.

Also, after thinking about it, it would not actually make sense to allow a VHD disk image to be mounted twice.

I'm also going to enable proper support for VHD/VHDx mounting as a Read-only

[2016-09-17 07:47] PlagueHO commented on #47
Haha @Zuldan ! Anyway, I've gone with adding the new xMountPoint resource (that includes formatting and partitioning etc) because the amount of change required to allow xDisk to support mount points.

[2016-09-17 08:23] Zuldan commented on #47
No worries mate. A resource from scratch with HQRM in mind. It's going to look beautiful!

[2016-09-17 21:12] PlagueHO commented on #33
Discussion:

I've been thinking about this one (while working on the HQRM conversion). It might be possible to do this in xDisk, but the more I think about this the more I feel we need a new resource called xVolume that allows multiple volumes/partitions to be defined on a Disk and be mounted to a Drive Letter and/or one or more Mount Points.

The current xDisk tries to manage Disk Status (Partiti

[2016-09-17 22:10] PlagueHO commented on #47
@Zuldan  - it's turning out to mainly just be a clone/modification of HQRM version of xDisk.

I've also gone with the name ```xDiskAccessPath``` (to relate it to xDisk as it can be used in place of it as well as relate it to the cmdlet name that actually assigns the path ```Add-PartitionAccessPath```

Hope this is OK?

[2016-09-17 22:31] Zuldan commented on #47
@PlagueHO that name is fine. Sorry about all the work this is causing. Could you post the MOF?

[2016-09-17 22:37] PlagueHO commented on #47
Oh it isn't all that hard at all TBH - the hard work was bringing xStorage up to HQRM (lots of bugs, lots of violations, almost no tests etc).

Here is the MOF:
[code]

And here is the Example usage I'm including:
[code]

[2016-09-17 23:12] Zuldan commented on #47
@PlagueHO, thanks for that.

FSLabel can probably be removed as you only set a label on a drive letter.

Everything else looks good so far. Yay for ReFS support.

[2016-09-17 23:51] PlagueHO commented on #47
@Zuldan - true. I'll get rid of it (just to save time implementing the tests for it).

[2016-09-18 01:31] PlagueHO commented on #47
Ok @Zuldan!

The new resource is code complete and can be found in this branch of my Repo:
https://github.com/PlagueHO/xStorage/tree/Issue-53/Upgrade-to-HQRM-Standards

What is done:
- [x] New Resource code including Localization and MOF to HQRM standards
- [x] Readme.md
- [x] Example
- [x] Integration Tests
- [ ] Unit Tests

So as you can see I haven't finished the unit tests, but I should have t

[2016-09-18 03:35] Zuldan commented on #47
@PlagueHO if I wasn't 3 hrs away I'd drive over and give you a crate of beer. Thank you so much for making the resource. Did a quick test in my home lab, looks good so far. Ive got some SQL test servers at work so I'll test it on those tomorrow.

[2016-09-19 06:15] PlagueHO commented on #47
Haha @Zuldan just none of that Castlemaine XXXX or VB eh? :grin: It's a pleasure getting this done for the community - might even be able to get our operations teams using it as well.

Anyway, just working on the unit tests tonight - should have the PR submitted by tomorrow.

[2016-09-23 22:01] Zuldan commented on #47
@PlagueHO, I had the new resource running on a couple of SQL servers this week and it's been working great. I can't thank you enough. Would love to catch up for a coffee (on me) when I'm in NZ next for work.

[2016-09-24 01:11] PlagueHO commented on #47
@Zuldan! That is awesome news - glad it seems to be bug free so far (and hopefully completely).

Definitely! Look me up next time you're over here- I'm always up for a coffee (fuels my DSC obsession after all :grinning: )

[2016-09-24 19:34] detailedschematic commented on #55
Sorry for the delay. I've pasted a snippet from my Chef recipe below.

A here-doc string contains powershell code:
`
naaid_to_disknum = <<-code
    $disk = Get-Disk -UniqueId #{naaid};
    return $disk.number
code
`

We call that powershell code in Chef using powershell_out() inside a dsc_resource resource. We use lazy attribute evaluation to delay until the execution phase of convergence:
`
dsc_r

[2016-09-24 19:34] #55 closed

[2016-09-27 18:33] TravisEz13 commented on #37
Closing based on comments

[2016-09-27 18:33] #37 closed

[2016-09-27 18:34] TravisEz13 commented on #54
I would say the property would be AllowDestructive and you only do destructive if needed.

[2016-09-27 18:35] TravisEz13 commented on #22
I think we can consider #50 separate.  Closing this issue.

[2016-09-27 18:35] #22 closed

[2016-09-27 18:36] TravisEz13 commented on #56
No objections

[2016-09-27 22:56] pauldmax commented on #47
@PlagueHO Ref: xDiskAccessPath, could I request you keep FSLabel, as this makes the function of the disks clearer from Disk Management GUI.  I had been working on this code myself for the past 2 days, until I hit a problem with the disk refresh and stumbled on this chain in my research.  See attached code
[xSQLStorage.zip](https://github.com/PowerShell/xStorage/files/496794/xSQLStorage.zip)

As yo

[2016-09-27 22:59] Zuldan commented on #47
@pauldmax I'm clearly missing something here. Are you saying you can assign labels to volumes without drive letters?

[2016-09-28 05:32] PlagueHO commented on #54
@TravisEz13  - sounds reasonable to me. I'll copy this comment into #50

[2016-09-28 05:33] PlagueHO commented on #50
@TravisEz13 suggested that the switch should be "AllowDestructive"

[2016-09-28 05:39] PlagueHO commented on #47
@PauldMax - I understand I think. The Volume still has a label attached the volume (even though it isn't visible when mounted as drive letter). It would be easy enough to allow this to be set (in fact I actually originally did set it but removed the code as I didn't think it was helpful).

I'm sure I can re-expose it. I'll try and get it done this weekend and submit it as part of the existing PR.

[2016-09-29 11:29] pauldmax commented on #47
@Zuldan, yes you can assign labels to mounted drives.  This makes function clearer for those that still need to use Disk Management
![diskmgr](https://cloud.githubusercontent.com/assets/16704513/18952114/6a200562-8640-11e6-8f57-16c6e5f73b0c.png)

[2016-09-29 14:41] pauldmax commented on #47
@PlagueHO, run a few test with your resource and seeing the same issue I was facing with my own. If I have a parent child disk config, where we mount the parent (say T:) and then configuring a path for a child mount (say T:\Data_X\data_01), then attempt to mount the child disk, the resource is failing saying path doesn't exist.  It's almost as if the LCM is not aware of the parent disk yet, and ad

[2016-09-29 18:33] PlagueHO commented on #47
@pauldmax that is some good info there. I'll do some digging this weekend and create some integration tests for the scenario. Assuming they replicate the issue I'll to my best to fix it. We have encountered some other issues with delays before.

[2016-10-01 00:44] PlagueHO commented on #47
@pauldmax - I've implemented the changes you've asked for (FSLabel support). However, I haven't taken a look at the issue you've reported yet. I'll try and get onto this as soon as I can, but the conversion to HQRM takes up a lot of time - so haven't really had a chance to look at this in detail. I may revisit it after the PR is merged simply because I've had this PR open for a while now and I'd l

[2016-10-08 02:46] ArieHein commented on #47
This is the same, in idea, as DSC resources being copied and used in the same script...cant do that as the session didnt have the resources when iniitialized. When the xStorage loads up it will gather all drives for that session. Until you close the session and open a new one, you wont see the new drives.

You could potentially in the code, invoke a rescan of the drives and create a new object fro

[2016-10-08 03:15] PlagueHO commented on #47
@ArieHein - I think you're right. I also think [this issue](https://github.com/PowerShell/xPSDesiredStateConfiguration/issues/248) is the same.

It is easy enough to fix for a drive (just call Get-PSDrive and a rescan is triggered), but for a mount point I'm not sure. But I'm sure there is a way, I just need to put aside some time for testing things out.

I'm thinking at the moment that I'd like t

[2016-10-25 22:57] kwirkykat commented on #47
@PlagueHO Unless you've already added this, yes please submit a separate PR

[2016-10-27 06:32] PlagueHO commented on #47
@kwirkykat - I haven't added this. But I will work on this once [this PR](https://github.com/PowerShell/xStorage/pull/60) has gone through.

Having so many PR's up in the air is making me dizzy :smile: so I'm just trying to get some closed before working on any new ones.

[2016-10-27 20:23] #20 closed

[2016-10-27 20:23] #24 closed

[2016-10-27 20:23] #35 closed

[2016-10-27 20:23] #47 closed

[2016-10-27 20:23] #51 closed

[2016-10-27 20:23] #53 closed

[2016-10-27 20:23] #54 closed

[2016-10-27 20:23] #57 closed

[2016-10-27 20:23] #58 closed

[2016-10-31 14:02] mgreenegit opened #63 "Review changes from robwi repo"
Additions have been made to this module in a separate repo:
[https://github.com/robwi/xStorage](https://github.com/robwi/xStorage)

HELP WANTED

If someone would like to review this work and incorporate changes back to the resource kit as a new PR, that would be a great project.

[2016-11-11 01:51] Zuldan opened #66 "xDiskAccessPath - Cannot re-create Access Path mapping"
@PlagueHO thank you for a fantastic resource. I've been using it in production and it's been working a treat. I have come across a small issue where the resource is not keeping the desired state in certain situations.

Say I have 3x disks mounted to 3x directories

C:\MountPoint\SQLDATA01 (maps to disk 2)
C:\MountPoint\SQLDATA02 (maps to disk 3)
C:\MountPoint\SQLDATA03 (maps to disk 4)

**Situatio

[2016-11-11 06:38] PlagueHO commented on #66
Hi @Zuldan, awesome it is working OK (except for these glitches). I think I know what might be causing the problem - the resource is not correctly detecting that the partition has already been created, so is trying to create a new one (which reports that there is no capacity to add a new partition).

I'll put some work into writing some tests to confirm this this weekend and then create a fix (goo

[2016-11-11 09:22] Zuldan commented on #66
Thank you very much @PlagueHO

[2016-11-13 02:38] PlagueHO opened #67 "Change Readme.md to match Updated Template and remove MD rule violations"
The readme.md contains a number of MD rule violations and doesn't match the layout defined in the [Readme.md template](https://github.com/PowerShell/DscResources/blob/master/DscResource.Template/README.md).

[2016-11-14 07:09] PlagueHO commented on #66
@Zuldan - anytime sir! I ran out of time this weekend and tonight, but I'll get onto this tomorrow night. Hope that is OK?

[2016-11-14 07:55] Zuldan commented on #66
No problem at all ;-)

[2016-11-15 07:33] PlagueHO commented on #66
Hi @Zuldan, I'm just working on adding tests for this scenario (so I can then write the fix) and have a question: when you say you delete the mount point: are you deleting the folder that the mount point was mounted to or are you unmounting the access path using a cmdlet or GUI? I'm just trying to write tests that replicate this behavior.

[2016-11-15 07:37] Zuldan commented on #66
@PlagueHO I'm deleting the folder.

[2016-11-15 07:42] PlagueHO commented on #66
@Zuldan - Ok cool! I've managed to replicate it by using ```Remove-PartitionAccessPath``` to remove the mount. So, I've not got failing tests.

[2016-11-15 09:02] PlagueHO commented on #66
@Zuldan - making good progress on this. I have found the bug and just reworking the code to better support this use case. I'll try and get this PR through tomorrow night.

[2016-11-15 09:31] Zuldan commented on #66
Cool! thanks for the update.

[2016-11-16 08:16] PlagueHO commented on #66
Hi @Zuldan - The code change is finished including integration/regression tests to cover this scenario. I've still got to complete the unit tests though - which I aim to complete tomorrow night.

If you're feeling enthusiastic you can try out the new version [here in my fork](https://github.com/PlagueHO/xStorage/tree/Fix-66/xDiskAccessPath-Fail-Remap).

[2016-11-16 13:49] spaelling opened #68 "Error in Sample_InitializeDataDisk"
`Count` is not a valid member. It should be `RetryCount`.

[Sample_InitializeDataDisk.ps1](https://github.com/PowerShell/xStorage/blob/dev/Examples/Sample_InitializeDataDisk.ps1)

[2016-11-17 06:38] PlagueHO commented on #68
@spaelling - good catch! Feel free to submit a PR if you want or I'll get onto it this weekend. Thanks for submitting this.

[2016-11-17 06:41] Zuldan commented on #66
@PlagueHO I can confirm it's now working as expected.

[2016-11-17 07:21] PlagueHO commented on #66
Awesome! Thanks @Zuldan. I was going to try and get the unit tests done tonight but I'm knackered and will just end up doing something dumb. So I'll get them done tomorrow night :grin:

[2016-11-18 22:40] PlagueHO commented on #66
@kwirkykat  - I'll include the conversion of the integration tests workspace folder over to $TestDrive in the PR for this issue. I need to include this because all my tests broke :grin:

[2016-11-19 21:27] PlagueHO commented on #66
@kwirkykat - another question: Since the recent changes to PSSA checking (I'm not sure if it was a change to DSCResource.Tests or PSSA), but the WMI cmdlets that xDisk uses are being flagged as PSSA violations. So I can't submit the PR for this the xDiskAccessPath fix without resolving this.

xDisk uses CIM by default but falls back to WMI if that fails. I'm fairly sure we can remove the WMI calls

[2016-11-19 23:35] PlagueHO opened #69 "Remove lines from Readm.md to bring inline with other resources"
Lines 10 - 34 in the readme.md are not useful and haven't been kept up-to-date. I think they should be removed.

The lines read:

This module contains the **xMountImage, xDisk, and xWaitForDisk** resources.  The xMountImage resource can be used to mount or unmount an ISO/VHD disk image to the local file system, with simple declarative language.  The xDisk and xWaitforDisk resources enable you to w

[2016-11-20 04:23] PlagueHO commented on #66
@Zuldan - I've completed the PR now and it just needs to go through the review process.

[2016-11-20 04:25] PlagueHO commented on #25
This problem can be resolved by copying the ```Set-TargetResource``` design pattern created in xDiskAccessPath in PR #66 into the xDisk resource.

[2016-11-20 05:12] Zuldan commented on #66
Thanks so much @PlagueHO. Apologies for the additional work this has created. The contribution of your personal time to the community is invaluable.

[2016-11-20 19:16] PlagueHO commented on #66
@Zuldan - always a pleasure! And this needed to be done. I'm actually much happier with the design pattern now as it handles many other scenarios. I'll be copying this design over to xDisk when I have the time because xDisk will suffer from the similar problems.

This new design will also better support the future "Destructive" flag to allow rewriting the partition table.

[2016-12-02 22:17] #25 closed

[2016-12-02 22:17] #66 closed

[2016-12-02 22:17] #67 closed

[2016-12-02 22:17] #68 closed

[2016-12-07 14:50] Peter-B-Clark commented on #56
Hi, I'm not sure whether to open a new bug or reopen this one. This is my first contribution to GitHub, so please be gentle!
This has broken things for us - we ensure an ISO mount is present on a drive letter, then do some stuff with it and later in the same MOF, with a dependency on the intervening tasks being completed, ensure that it is absent. This used to work (in 2.6.0.0) by using different

[2016-12-07 18:06] PlagueHO commented on #56
Hi @Peter-B-Clark - glad to have your comments on this! Thank you for posting :grin:

I think I understand. The problem here is that you are actually exploiting an unintended behavior of this resource.

DSC is designed to define the desired state a node should be in at the end of config processing. In this case you're defining two conflicting states of the mounted ISO and exploiting the fact that

[2016-12-07 18:47] Peter-B-Clark commented on #56
Thanks for your response!
The issue we have with leaving the ISO mounted is that it's one we occasionally update, and we can't replace the file if 30 VMs still have it mounted. Your explanation does make sense, but we need to, for example, update the slipstreamed CU on a SharePoint installation iso. We don't want to provision lots of extra space on the VMs to temporarily copy the all the files loc

[2016-12-07 19:07] Peter-B-Clark commented on #56
Thanks for your response! It sounds like we've been misusing DSC and that was only possible because of a bug that has now been fixed, but I'll explain anyway, to make sure I'm right about that.

We mount ISOs to install software on systems without having to install from a share or copy the installation files locally. Sometimes we need to update the ISOs (for example, to slipstream a new cumulative

[2016-12-08 07:54] PlagueHO commented on #56
Hi @Peter-B-Clark - Right, I think I understand your use-case here.

It is an interesting scenario. I'm trying to think of an good solution to this problem.

One of the core ideas behind DSC is that you just define the state of the node that you want and don't need to worry about how DSC makes that happen. Once state has been achieved on a node, DSC should become idempotent (e.g. if it runs again

[2016-12-08 07:54] #56 closed

[2016-12-09 15:38] Peter-B-Clark opened #73 "Temporarily mount ISOs to install software"
Hi,

We found installing software, certificates etc. from network shares was unreliable, but it worked every time if we mounted an ISO containing the necessary installers/files. We even created our own ISOs with certificates and modules we wanted to install. The snag is, DSC likes to implement things and keep them there, but we want to dismount the ISO when we're done with it. Otherwise, the ISO f

[2016-12-09 16:13] Zuldan commented on #73
@Peter-B-Clark, here are some options...

1. Use xRemoteFile to download the install files / certificates to local location then use xPackage to install what you need locally. You could even package everything into a zip file then use xRemoteFile -> xArchive -> xPackage. We use this method as it's very stable. The zip file is only copied across the network if it's updated.

2. Create a custom DSC

[2017-01-11 21:28] VazquezTech opened #75 "Unexpected Volume Size does not change InDesiredState value"
Below are 2 config blocks.

Initial_DataDisk sets a volume on a disk to 200MB.
DifferentSizeVolume_DataDisk expects a volume size of 300MB.
Test-DscConfiguration inDesiredState = True although there is a mismatch in volume sizes.

[code]

[2017-01-11 21:33] VazquezTech commented on #75
Issue may that test-resource does not return false for a mismatch like the other tests.

[code]

[2017-01-12 05:55] PlagueHO commented on #75
Hi @VazquezTech - Thank you for reporting this. You are quite correct. This is a known limitation of the resource. This has been on my todo list but I haven't had time to look into it.

This is actually a duplicate of issue #11. It requires the destructive switch (is discussed in #50) to be implemented to allow destructive changes to be made to a disk (in this case resizing the partition).

We cho

[2017-01-12 11:24] VazquezTech commented on #75
Hi Daniel,

Thank you for the prompt response. Please close issue.

On Thu, Jan 12, 2017 at 6:21 AM Eduardo Vazquez <evazquez@vazqueztech.com>
wrote:

[2017-01-14 10:59] PlagueHO commented on #75
Thanks @VazquezTech - I'll try and get to the issue #11 when I get time (seem to be very short of it these days).

[2017-01-14 10:59] #75 closed

[2017-01-22 02:33] PlagueHO opened #76 "Fix broken unit tests"
I'm not sure why, but a number of the unit tests have broken since the last release:

https://ci.appveyor.com/project/PlagueHO/xstorage/build/2.9.59.0

It appears that a recent pester (4.0.2) change has broken these. Pester version 3.4.6 works correctly. It appears to be a pester bug that prevents Get-Volume from being mocked in two successive Context blocks. Only the first Mock works. The second

[2017-01-22 03:22] PlagueHO opened #77 "Update xStorage to produce Wiki and other features of xNetworking"
xNetworking was recently updated to include Wiki support, markdown validation, code coverage and additional tests (examples etc).

I'd like to update this module with the same features as it is fairly similar in structure.

[2017-01-22 05:52] PlagueHO commented on #76
I believe this may be caused by an issue in Pester and have logged it:
https://github.com/pester/Pester/issues/697

[2017-02-07 07:26] PlagueHO opened #78 "Convert to use new Shared Deploy/Test Code in DSCResource.tests"
[This PR](https://github.com/PowerShell/DscResource.Tests/pull/90) added shared AppVeyor deployment and Wiki generation code into DSCResource.Tests.

Update this repo to use this new code.

[2017-02-13 06:42] PlagueHO commented on #76
I've submitted a change to force the old version of pester to be used in AppVeyor. I'll leave this issue open until Pester 4.0.2 bugs are fixed. Once that is done I'll submit another PR to allow the new version of Pester to be used.

[2017-02-14 07:10] asdglkjkwekdf opened #80 "xDisk - test resource fails when computer is part of a cluster"
Issue: xDisk Test-Target resource fails testing FSLabel when the file system label is matches desired state

Environment: Windows Server 2016 RTM, Windows Failover Clustering, xStorage 2.8.0.0

Cause: xDisk GetTargetResource uses Get-Volume by drive letter. Get-Volume in a Windows Server 2016 Cluster returns disks off all nodes potentially resulting in multiple volumes with the same drive letter.

[2017-02-23 16:38] johlju opened #81 "xWaitForDisk | xDisk: Disk number changed between reboots"
Disk number seem to be unreliable to select the right disk. Or might be that I'm I doing something wrong? :)
/cc @PlagueHO

I configured a cluster successfully with the disks.

[code]

After reboot of the server I tried to apply the configuration again. And it cannot find the disks any more.

[code]

Running diskpart shows that the disks no longer has the same disk numbers.

[code]
The cluster is

[2017-02-23 16:50] johlju commented on #81
Disks is shared thru iSCSI. Here is the relevant config.

[code]

[2017-02-23 17:00] johlju commented on #81
This is being worked on in xFailOverCluster. see PowerShell/xFailOverCluster#26. Maybe the same logic could be brought to xDisk and xWaitForDisk?

[2017-03-17 20:10] #78 closed

[2017-03-17 20:31] PlagueHO commented on #81
Hi @johlju - sorry for not looking at this earlier! That does look like the Disk Number isn't static. I'll check out what is being done in xFailOverCluster and see if we can port it over here. May need to still support Disk Number to prevent breaking legacy code, but also possibly support an alternate disk identifier?

[2017-03-17 20:34] PlagueHO commented on #80
Hi @asdglkjkwekdf , that is some great info. Looks like it should be possible to port over method from MSFT_xDiskAccessPath to MSFT_xDisk. I'll try and put some time aside to do this. But not for a few days yet (this week is all kinds of crazy busy). But if you or someone else gets to it first, let me know you're working on it so we don't duplicate work.

[2017-03-18 08:38] johlju commented on #81
Absolutely agree disk number should be kept also. If another identifier of some sort is used instead, that could "override" the disk number.

Also read that this could occur when using iSCSI, but then only with multiple paths (which I do not have, only one NIC). Which led me to believe that when using for example FC storage, disk number is (more) static.

After doing another reboot a few days late

[2017-03-19 22:42] asdglkjkwekdf commented on #80
I have already ported the code in my environment; but, unfortunately we are not allow to contribute code. The best I can do is report issues in as much detail as I can.

From my testing cloning the xDiskAccessPath code to the get and test methods was all that was required. I did not review the set method; but, I wonder whether that should have been changed as well.

[2017-03-22 06:42] PlagueHO commented on #80
Hi @asdglkjkwekdf - no problem. I'll see if I can take a look at this this weekend.

[2017-03-25 00:29] PlagueHO commented on #77
This has been completed by #79

[2017-03-25 00:29] #77 closed

[2017-03-25 00:43] PlagueHO commented on #69
This has been resolved by #79

[2017-03-25 00:43] #69 closed

[2017-03-27 06:47] matthitchcock opened #84 "xDisk requires a Disk Letter"
Hi

This may be something I need advice on rather than being an issue. I wonder why xDisk needs to have a Drive Letter. A scenario I am dealing with is that I need to make sure a Disk has a volume and is formatted so I can use it later as a CSV in a Cluster. For this reason I wouldn't want to assign a Drive Letter or Access Path.

Is there a technical reason why this scenario is not handled in xSt

[2017-04-11 11:07] Zuldan commented on #81
@PlagueHO and @johlju I've now hit this issue. The disk numbers are changing and causing havoc with this resource.

Below are all the properties for a disk. Maybe a unique identifier that could be used instead is SerialNumber/UniqueId?

[code]

[2017-04-11 19:23] PlagueHO commented on #81
Hi @zuldan. Im going to try and get the work done on this over the easter break/this weekend. I'm going to start by seeing if I can find a way to effectively test for the problem so I can be sure im fixing it :grin: TDD FTW!

[2017-04-11 19:48] Zuldan commented on #81
@PlagueHO your timing couldn't be better. I've got the config for all our SQL AOAG clusters in the lab working perfectly (except for this disk issue) and was going to start pushing out clusters into the Dev environment next week but was forced to delay that because of this problem.

I only noticed the problem when I added multiple controllers and multiple disks to those controllers on the VM. Usua

[2017-04-12 10:58] Zuldan commented on #81
To diagnose the issue I slapped together some dirty code to provide all the stats from 'Disk' to 'Access Path.

[code]
It appears that there isn't always a GUID for every disk so it would be better to use UniqueId?

[code]
I came up with a couple of ways to implement it. See MOFs below. Would love a discussion and/or more ideas.

**Idea 1** (most obvious one)
Pro:
The resources support both DiskNu

[2017-04-13 05:50] PlagueHO commented on #81
Cool! Great info and fantastic suggestions.

I personally like **Idea 1** because of not being a breaking change. The primary key thing is a pain, but I think it is acceptable - I've used similar patterns in xNetworking and xCertificate - so I don't think it is a terrible idea.

We'd need to also change the DiskNumber from a ```Required``` to a ```Write``` parameter.

I'd also suggest using DiskUn

[2017-04-13 08:32] johlju commented on #81
It looks good to me! Maybe just change `DriveLetter` to `DrivePath` (or something) if mountpoints are used?

[2017-04-13 13:41] johlju commented on #81
My bad, xDiskAccessPath is for "mount points" and xDisk is for "drive letters". I didn't realize there was two almost identical resources.
So idea 1 with @PlagueHO's additions is all good to me.

[2017-04-13 22:26] PlagueHO commented on #81
Cooleo! I'll get this out over the weekend.

[2017-04-14 16:20] tenletters10 opened #85 "xStorage - Cannot perform the requested operation when the drive is read only"
When attempting to use 2.9.0.0 I keep getting volumes left in a "raw" volumes with assigned driver letters state even when specifying FSFormat. In the logs I am getting the following errors:

VERBOSE: [localhost]:                            [[xDisk]Edrive_xDISK] Set-TargetResource: Creat
ing partition on disk number '2' with drive letter 'E' using all free space.
VERBOSE: [localhost]:

[2017-04-15 22:29] PlagueHO commented on #80
Hi @asdglkjkwekdf - sorry about the delay. I'm working on this today.

[2017-04-15 22:50] PlagueHO commented on #84
Hi @matthitchcock - this is a completely valid use case. But looking at the resource it doesn't look like using a different key would work.

However, another approach could be to create a new resource called something like xDiskVolume that contains a multiple keys: DiskNumber/DiskUniqueId, PartitionNumber. This could be used to create an unmounted volume (inside a partition of course).

Would this

[2017-04-16 02:39] PlagueHO commented on #81
@johlju , @Zuldan - I've nearly finished the changes to `xDisk` (which will map to xDiskAccessPath fairly easily).

However, with regards `xWaitForDisk`, **Idea 1** won't actually work - because `DiskNumber` is the key to the resource (so we can't make it optional). One solution here would be to implement **Idea 2** on xWaitForDisk, but this has the following problems:
1. Would be a breaking chang

[2017-04-16 04:25] Zuldan commented on #81
@PlagueHO I'm happy with idea 2 for all resources. We change one then they all should be aligned.

As for the breaking change, there's nothing stopping people from downloading previous versions of the resources to keep compatibility. DSC is all about continuous deployment, make changes and move forward ;-)

[2017-04-16 06:13] PlagueHO commented on #81
@Zuldan - I'm in agreement. I think **Idea 2** is the way to go if we're going to do a breaking change because I think consistency is very important. But I'd like some feedback from @johlju and @TravisEz13 because of being a breaking change.

@TravisEz13 - a summary of the problem is that DiskNumber in some scenarios can not be used to uniquely identify a disk. Our proposal is to replace the old '

[2017-04-16 06:36] Zuldan commented on #81
@PlagueHO happy to wait mate. Better to have everyone agree to the changes.

[2017-04-16 07:25] PlagueHO commented on #81
Cheers @Zuldan - it shouldn't take long to make the change as I've already done a reasonable amount on this. So as soon as I get the go-ahead I'll get it done!

[2017-04-16 15:31] johlju commented on #81
@PlagueHO Awesome work as always!

**Idea 1**
If we would keep going in the idea 1 track, can't xWaitForDisk still have `DiskNumber` as Key, and you add `DiskUniqueId` as an optional parameter. If`DiskUniqueId` is assigned a value then that will override `DiskNumber`, would that be a solution? Then it will not be a breaking change, but must be clearly documented that so is the case, both in README

[2017-04-16 15:42] johlju commented on #84
@PlagueHO If we are going for idea 2 in issue #81 wouldn't that able so that DiskId is the Key and DriveLetter is optional which might solve this use case. This might make Idea 2 even better, and if we already thinking of doing a breaking change... 😄

[2017-04-16 21:00] #76 closed

[2017-04-16 21:19] PlagueHO commented on #84
Hi @johlju - unfortunately the key for this resource would still need to be DriveLetter - it can't be the DiskId (either number or unique Id) because this resource supports putting more than one volume per drive. So you may have two resources with the same DiskNumber/DiskUniqueId in the same config (e.g. D: and E:).

E.g: With **idea 2** implemented:
[code]
Does that make sense? But I like your th

[2017-04-17 06:27] johlju commented on #84
Ah, I understand, make sense, didn't think of more than one partition, it was ages since I split a disk like that. I usually just get LUN's in the size I asked for. 😄

Regarding xVolume. In the example with xVolume wouldn't we just need to throw in two optional parameters `DriveLetter` and `AccessPath`, or just Path for short (for both drive letters and mount points), and that would replace xDisk

[2017-04-18 08:49] PlagueHO commented on #84
@johlju - You're right - I think xVolume would need to have both DriveLetter and AccessPath.

You might be onto something here:

One of the big problems with these resources (xDisk/xDiskAccessPath) is that they only work for really simple configs because they try to obfuscate too much of the disk/partition/volume structure. They just end up not working in many situations and can't easily be fixed.

[2017-04-18 20:04] johlju commented on #84
I agree with all of this! 😀 That sounds really great. And yes, let's not leave xDisk broken. Fix that first.

Maybe the new xDiskEx and xWaitForDiskEx could become xDisk and xWaitForDisk when this resource becomes HQRM as StorageDsc.

[2017-04-20 06:46] PlagueHO commented on #84
@johlju - cool. I might try and get all these resources together this weekend. It would be really good to get these out because it would solve a fair number of problems for everyone I think.

[2017-04-20 12:41] Zuldan commented on #84
@PlagueHO thank you!

[2017-04-20 16:21] johlju commented on #84
@PlagueHO Awesome!

[2017-04-21 10:34] PlagueHO commented on #81
@Zuldan , @johlju
I've made the change to xDisk here (including full unit and integration test coverage etc):
https://github.com/PlagueHO/xStorage/tree/Issue-81/Support-DiskUniqueId

I'm going to repeat to xDiskAccessPath and xWaitForDisk tomorrow and the submit the PR.

Once that PR is through I'll start work on the new xDiskEx, xWaitForDiskEx, xPartition and xVolume.

[2017-04-21 10:55] johlju commented on #81
I will help you review this one :)

[2017-04-21 20:51] PlagueHO commented on #81
@johlju - I was hoping you would :grin: Your reviews are the as good as they get. Right - onto the next changes.

[2017-04-21 23:51] PlagueHO opened #86 "xDisk Does not correctly support multiple Volumes on the same Disk"
While working on the other issues I noticed that the following config won't work as intended:
[code]
It should produce two volumes on Disk Number 2, but it doesn't. Instead it just creates one volume and then renames it from G drive to J Drive and changes the label from Store to Data.

It should have created two volumes, one consuming 10GB and the other consuming all remaining space.

[2017-04-22 05:31] PlagueHO commented on #80
Hi @asdglkjkwekdf - I've made the changes to this now so that xDisk uses the same pattern as xDiskAccessPath. This change will go in as part of #81 which is a BREAKING CHANGE for xDisk, xDiskAccessPath and xWaitForDisk. Please see the details of #81 to see why this change was necessary.

So once this is released you'll need to update your configs slightly.

[2017-04-22 06:59] PlagueHO commented on #81
Hi @Zuldan, @johlju - I've submitted a PR with these changes. I've also converted xDisk to use the xDiskAccessPath pattern which is a more robust pattern (and has less bugs).

Once this PR is through I'll look into creating the new resources as I still feel the current resources won't work in many scenarios.

[2017-04-22 12:14] johlju commented on #81
@PlagueHO Once you fixed the comments on the PR I will use the code in my lab to verify the function as well. 😄

[2017-04-23 04:20] PlagueHO commented on #81
Awesome! Thanks @johlju. I'm also going to update https://github.com/PlagueHO/LabBuilder to use the new version as well and use that to run some tests. @Zuldan - do you have any test environments you can run this version through?

[2017-04-23 05:11] Zuldan commented on #81
@PlagueHO fantastic work! @johlju thank you for reviewing.

@PlagueHO I have a ton of xDiskAccessPath and xWaitForDisk to configs I can test with. I'll have to create some with xDisk. I'll begin updating my configs and start the testing then get back to you.

[2017-04-23 06:07] PlagueHO commented on #81
@johlju, @Zuldan - I'm just going to fix this issue: https://github.com/PowerShell/xStorage/issues/86 in the PR as well.

[2017-04-24 09:36] Zuldan commented on #81
@PlagueHO, I can report back the new code is working well. I can scramble the disks around on multiple VM's and it's picking up the correct disks every time when using DiskUniqueId. My old configurations using Disk Number (with updated config) are also still working. Very happy!

[2017-04-24 21:02] PlagueHO commented on #81
@Zuldan - awesome! Very glad to hear! Woop :grin: I'm just making some final tweaks as per @johlju 's review comments and then I'll get it merged!

[2017-04-26 03:08] asdglkjkwekdf commented on #80
Hello @PlagueHO - Thanks for looking at this. The changes for #81 make sense.

[2017-04-27 07:16] #81 closed

[2017-04-27 07:19] PlagueHO commented on #86
Closed by #87

[2017-04-27 07:19] #86 closed

[2017-04-27 07:20] PlagueHO commented on #80
Thanks @asdglkjkwekdf - I've merged this change now to Dev. So if you have a change, could you give it a try and see if it resolves your issue?

[2017-05-01 01:22] asdglkjkwekdf commented on #80
I should be able to give the dev branch a go this week.

[2017-05-03 09:19] asdglkjkwekdf commented on #80
Tested successfully.

[2017-05-06 09:51] nyanhp commented on #11
Hi @PlagueHO , are you still looking into this? If not I would like to take over this one as I also have customers who encounter this issue. Additionally, I plan on adding a parameter like FillRemainingFreeSpace since this is also a very common scenario.

[2017-05-06 10:01] PlagueHO commented on #11
Hi @Nyanhp - I'm creating some new resources (xDiskEx, xPartition and xVolume) that allow far more control over disk provisioning. See https://github.com/PowerShell/xStorage/issues/81. xDisk does not handle many more complicated disk partitioning scenarios. But I've not had time to complete these (and I won't for another few weeks).

That said, if you want to get xDisk to enable partition resizing

[2017-05-09 09:18] aboersch commented on #39
I would love to implement this. Have already done it successfully for 2k12+ Servers using StorageSpaces.

Shall I implement it or wait for the xVolume resource?

[2017-05-11 07:17] PlagueHO commented on #39
Hi @aboersch - we're always grateful for the help over here :grin:

We have been planning on creating an xVolume resource, but if you've got something that exists (or doesn't) that you'd like to contribute then that would be awesome! It is worthwhile posting a proposed MOF file and letting the community provide comment/feedback on the design before developing too much.

All help is really grateful

[2017-05-12 21:44] PlagueHO commented on #85
Hi @tenletters10 - thanks for submitting this. Sorry I haven't had a chance to look at this yet. I notice the AllocationUnitSize is 64k - is this a very large disk that is being created/partitioned?

[2017-05-12 22:05] tenletters10 commented on #85
No worries.

The disks are a decent size. I was trying on a various set of sizes (1TB, 2TB, 4TB).

[2017-05-15 05:37] asdglkjkwekdf commented on #80
Testing with new build more thoroughly indicates we still have an issue.

Set has been fixed however Get and Test have not been fixed

MSFT_xDisk.psm1 (dev branch)
==> Get Partition:
* Get - Ln 95  > Not fixed
* Set - Ln 264 - 268 > Fixed
* Test - Ln 591 > Not fixed

==> Get Volume:
* Get - Ln 98 > Not fixed
* Set - Ln 388 > Fixed
* Test - Ln 636 > Not fixed

Let me know if this does not make sens

[2017-05-15 10:27] PlagueHO commented on #80
Hi @asdglkjkwekdf - thanks for reporting this! I'll take a look this week - I'm a bit behind at the moment. Will definitely catch up this weekend though.

[2017-05-16 07:14] SwarfegaGit opened #89 "Request: xDisk resize volume"
xDisk can use the maximum space available by not specifying a 'Size'.  However if I resize the volume it does not extend into that space.  It would be great if this was a feature.

[2017-05-16 07:32] SwarfegaGit commented on #89
I see this is a duplicate of #11 so please close.

[2017-05-17 07:46] nyanhp commented on #50
Hi @pshellguruwannabe , the issue is quite old but I recently got into resource development and wanted to clarify this parameter. An AllowDestructive switch itself would not mean that the partition schema is always removed when the set method is executed. At the moment it would merely mean that operations that might be destructive like partition resizing would be made possible.

I will likely incl

[2017-05-17 18:56] TravisEz13 commented on #50
`AllowDestructive` should not mean always, but that a destructive operation is allowed when `Set-TargetResource` us called.

[2017-05-18 12:53] jdillon-wayfair commented on #85
I can confirm I am seeing the exact same behavior.  Adding 3 drives and 3 mountpoints, using xdisk and xmountpoint within foreach loops.  xdisk adds the first drive and fails on the second, leaving it raw state and how the exact error stated above.  When I manually get through the drives and move onto the mountpoints those work perfect.  I then downgraded to 2.6, and xdisk adds the drives perfect,

[2017-05-18 19:29] PlagueHO commented on #85
Hi @jdillon-wayfair . Thanks for the info! Ill get onto this tonight and hopefully have a solution for you. Are you able to apply the config in verbose mode and upload the output logs here?

[2017-05-19 12:35] jdillon-wayfair commented on #85
Here is the code snippet followed by the verbose output followed by the screenshot of the drives after the run:
[xdisk_github.txt](https://github.com/PowerShell/xStorage/files/1014234/xdisk_github.txt)
![xdisk_github](https://cloud.githubusercontent.com/assets/20647232/26247934/22e74202-3c6e-11e7-81ab-b3bf1b26b384.PNG)

[2017-05-22 09:01] PlagueHO commented on #85
Hi @jdillon-wayfair - I've been looking into this a bit over the weekend and I think the problem may already possibly be fixed in the latest (not yet released) version of xStorage. A new version of this resource should be being released next week (v3.0.0.0) that contains some fixes that may resolve this. Are you able to wait till this new release comes out? If not, feel free to try the Dev branch

[2017-05-22 11:38] jdillon-wayfair commented on #85
That works, as our current work around is a script resource essentially doing similar.
Thanks again for the help and responses here.

[2017-05-23 18:42] gabrieljtaylor commented on #33
This appears to still be an issue today with version 2.9.0.0. Is there a timeline for addressing this bug, or is it simply awaiting someone with the necessary skills and time to come along and fix it?

[2017-05-23 19:38] PlagueHO commented on #33
Hi @gabrieljtaylor - there are some scenarios where xDisk should work fine for creating multiple volumes on a disk. But there is a bug in 2.9.0.0 that caused this to stop working if you weren't specifing a size for one of the disks.

This is fixed (and regression/integration tests added) in the dev version which is being releasd soon. Note: this has breaking changes in it so will be 3.0.0.0.

But

[2017-05-24 08:59] PlagueHO commented on #85
A pleasure to help. Hopefully the new version will be released to master/PS Gallery soon. Are we able to close this issue?

[2017-05-24 12:44] aboersch commented on #39
Thanks for the hint with creating the MOF first as this proved to be difficult.

I have a huge issue with using Disk Numbers. I know from personal (tough) experience that these are not even consistent across reboots.

At the same time I would be using this for Virtual Machines where getting the Disk Id is not possible.

After having reviewed the properties of [MSFT_PhysicalDisk](https://msdn.micro

[2017-05-24 12:45] aboersch commented on #39
Here is the Script Resource I am currently using with Azure:

Script SetupStorageSpaces
		{
			TestScript = {
				$disks = Get-PhysicalDisk ï¿½CanPool $true -ErrorAction SilentlyContinue
				!$disks
			}
			SetScript = {
				#Remove-VirtualDisk -FriendlyName Space01 -Confirm:$false
				#Remove-StoragePool -FriendlyName SpacesPool -Confirm:$false

				$disks = Get-PhysicalDisk ï¿½CanPool $true

[2017-05-27 02:28] #89 closed

[2017-05-29 08:12] PlagueHO opened #91 "[New Resource] xDiskEx, xPartition and xVolume"
The current xDisk resource is limited to creating only simple disk/partition/volume layouts. Fixing these limitations will require the functionality of the xDisk resource to be broken into smaller "single function" resources. This has been covered in several issues over the past year.

This problem is described quite well in [this article](http://www.powershellmagazine.com/2017/05/23/psdsc-doing-i

[2017-05-29 08:14] PlagueHO commented on #91
Tagging @Zuldan and @johlju for feedback as they have mentioned these problems in passed issues.

[2017-06-01 07:26] PlagueHO opened #93 "Breaking change: Get-LocalizedData command"
[code]

As of the 4.0.0.0 release today, this module now conflicts with the newly released 3.0.0.0 version of xStorage. The only way to install this module is to use `Install-Module xNetworking -Force -AllowClobber`. This should break aliases between DSC resources.

Please address ASAP, this is a big breaking change.

This issue was raised by @glennmate in xNetworking here: https://github.com/Powe

[2017-06-01 20:39] #93 closed

[2017-06-05 12:51] jdillon-wayfair commented on #85
Update, 3.1 and 3.0 xstorage  still has this issue.  In fact 3.1 and 3.0 xstorage now breaks xdiskaccesspath for mounting mountpoints stating, "PartitionNumber, The Argument is null".  This is with making the change form DiskNumber to DiskID as requested by the Breaking Change release notes

[2017-06-05 13:28] johlju opened #96 "New resource proposal: Change drive letter of CD-ROM drive"
We have a scenario where we need to have a CD-ROM drive available for some maintenance (like automatic VMware Tools deploy). So I need to move this CD-ROM to another drive letter, just to move it out of the way for drive letter D: where it is put when provisioning a new VM.

I put together this Script resource and wonder if it something we could turn into a regular resource? Is this something that

[2017-06-06 05:01] Zuldan commented on #96
@johlju this is the one I use. https://github.com/kewalaka/cCDROMdriveletter

[2017-06-06 06:47] johlju commented on #96
Thanks @Zuldan. I wrote an issue asking if we could move it over here https://github.com/kewalaka/cCDROMdriveletter/issues/3

[2017-06-06 07:09] PlagueHO commented on #96
This definitely sounds like a useful resource! It would be great to get it moved over if the owner was up for contributing it.

[2017-06-06 07:11] PlagueHO commented on #85
Hi @jdillon-wayfair - thanks for the update. Are you able to paste a copy of the log output with the PartitionNumber, The Argument is null error so I can try and track the location? Also, could you put the config in here too?

Is this a disk with multiple partitions/volumes or a single partition/volume disk?

[2017-06-06 07:40] PlagueHO opened #97 "Incorrect Error Message Reported in xDisk & xDiskAccessPath if new partition does not become writable"
This is because the name of the Localization string is incorrect in these lines:
https://github.com/PowerShell/xStorage/blob/dev/Modules/xStorage/DSCResources/MSFT_xDisk/MSFT_xDisk.psm1#L375

https://github.com/PowerShell/xStorage/blob/dev/Modules/xStorage/DSCResources/MSFT_xDiskAccessPath/MSFT_xDiskAccessPath.psm1#L369

[2017-06-06 09:12] #97 closed

[2017-06-06 14:17] jdillon-wayfair commented on #85
Here is the config:`Configuration testxdisk
{

    Import-DscResource -module @{ModuleName="xStorage";RequiredVersion="3.1.0.0"}

    Node $AllNodes.NodeName
    {

        ###Add local admins
        Foreach ($Group in $Node.LocalSecurityGroups)
            {

                Group $Group.Name
                {
                    Ensure = "Present"
                    GroupName = $Group.Name

[2017-06-06 14:18] jdillon-wayfair commented on #85
And here is the Null Error:

    + CategoryInfo          : InvalidData: (:) [], CimException
    + FullyQualifiedErrorId : ParameterArgumentValidationError,Add-PartitionAccessPath
    + PSComputerName        : MyServer

The PowerShell DSC resource '[xDiskAccessPath]DiskaccessPath_0' with SourceInfo '::101::13::xDiskAccessPath' threw one or more non-terminating errors while running the Set-TargetRe

[2017-06-06 21:05] PlagueHO commented on #91
Also tagging @bgelens for feedback.

[2017-06-07 11:38] bgelens commented on #91
A user story I have: With Azure IaaS deployments, one can define a custom OS disk size during deployment by specifying **diskSizeGB** property. The disk will be created and have the size of what the user specified. However, the volume on the disk needs to be resized to accumulate the entire disk. It would be nice if a DSC resource would exists that monitors for disk free space and resize the volum

[2017-06-09 07:09] PlagueHO commented on #85
Thanks @jdillon-wayfair - that didn't quite provide what I'd hoped. What I was wanting to see was the Verbose log output so that I could track the code path through the resource. Is there any chance you could run this with the verbose log output enabled? E.g. using something like this?
[code]

It will then provide lots more detail as to what code is being called.

[2017-06-09 18:28] johlju commented on #91
@PlagueHO Sorry for not responding earlier. This looks good to me. These cover all my needs as I see it now. A question is if we need to keep Number as a type of DiskId? Although don't hurt.

@bgelens If Size is omitted and AllowDesctructive is set to $true then that could potentially be done automatically. But only if it is the only volume on the partition, and that the partition is the only part

[2017-06-09 19:56] bgelens commented on #91
@johlju In my scenario I'm talking about the OS volume, so destructive wouldn't be good in that sense ;) I think more of specifying xVolume for the OS Disk with an expand on resize operation (maybe exposed as additional parameter?)

[2017-06-09 20:59] Zuldan commented on #91
@PlagueHO everything looks good. I really like @bgelens idea on automatically resizing if free space is found. This would be a very handy feature and save us a lot of time.

@johlju I think DiskId Number should be kept. It's a bit of a hassle trying to map Uniuque IDs with DSC configuration data especially if you're using multiple controllers in VM (using VMware) because there is no programmatic w

[2017-06-12 12:25] jdillon-wayfair commented on #85
VERBOSE: [testserver]: LCM:  [ Start  Resource ]  [[xWaitForDisk]WaitforDisk_0]
VERBOSE: [testserver]: LCM:  [ Start  Test     ]  [[xWaitForDisk]WaitforDisk_0]
VERBOSE: [testserver]:                            [[xWaitForDisk]WaitforDisk_0] Test-TargetResource: Checking for disk with Number '1'.
VERBOSE: [testserver]:                            [[xWaitForDisk]WaitforDisk_0] Test-TargetResource: Fou

[2017-06-19 07:54] PlagueHO opened #100 "Add VS Code workspace settings file with settings matching style guideline"
I suggest we add a VS Code workspace setting file with the following settings:

[code]

This is discussed here https://github.com/PowerShell/DscResources/issues/284.

That will make it possible inside VS Code to press <kbd>SHIFT</kbd>+<kbd>ALT</kbd>+<kbd>F</kbd> or press <kbd>F1</kbd> and choose 'Format document' in the list. The PowerShell code will then be formatted according to the Style Guidel

[2017-06-19 09:13] PlagueHO commented on #85
Thanks @jdillon-wayfair - sorry about taking so long. I'll go through this tomorrow night after work and see if I can figure out exactly what is going on here. Thanks again for your patience and assistance!

[2017-06-20 04:07] Zuldan opened #102 "xDiskAccessPath - One or more parameter values passed to the method were invalid"
When use xDiskAccessPath I get the error "**One or more parameter values passed to the method were invalid**" and "**The input object cannot be bound to any parameters for the command either because the command does not take pipeline input or the input and its properties do not match any of the parameters that take pipeline input.**" I had previously tested 2.9.0.0 and 3.1.0.0 and found both versi

[2017-06-20 07:16] #100 closed

[2017-06-20 07:44] PlagueHO commented on #102
Hi @Zuldan - thanks for the detailed info. I'm just trying to replicate this now.

Can you confirm the OS Version you're installing onto and also if possible post the config? I'll continue to look into this now though.

[2017-06-20 07:53] Zuldan commented on #102
@PlagueHO thank you for looking at this so quickly. I created a second VM just to make sure it wasn't a once off issue but got the same problem.

OS is 2012 R2 (latest Windows Updates and running WMF 5.1). The VM has 16 disks in total. I'll do my best to get you the config tonight as soon as I get access to my laptop.

I really hope this isn't just my environment and I'm wasting your time.

[2017-06-20 08:03] PlagueHO commented on #102
@Zuldan - definitely want to get this one sorted. I can see some things that aren't right in your logs, but I'm just trying to figure out how they got to that state.

I'm testing on a Windows Server 2016 Hyper-V VM at the moment and using the following config to test:
[code]

Both Disk1 and Disk2 were completely uninitialized and were offline. They both resulted in the disks being onlined, partiti

[2017-06-20 08:12] PlagueHO commented on #102
Hi @Zuldan - are you able to describe the state your disks/partitions were before running your configs? I'm wondering if the disks being partitioned but not mounted is the problem?

The reason I'm thinking this is that I'm not seeing any info on the disks being initialized or bought online which is what I'd expect to see with a clean disk. I'm also seeing strange partition info. So I'm just trying

[2017-06-20 08:51] Zuldan commented on #102
All disks were completely uninitialized and were offline. The other info I have is disk 4 is being configured first. I guess the main difference between our environments is you have Hyper-V and I have ESXi. I wouldn't expect Powershell cmdlets to behave differently though.

I've almost got the kids in bed so more info should arrive soon.

[2017-06-20 08:57] PlagueHO commented on #102
Hi @Zuldan - I've managed to replicate the problem and it seems to only occur on Windows Server 2012 R2. I've been testing on Windows 10 and Windows Server 2016. The AppVeyor CI process runs Windows Server 2016 as well.

So now I can replicate it I should be able to fix it, which is good news.

I did identify another problem as well which I'll log and repair in a separate issue.

[2017-06-20 09:01] PlagueHO commented on #102
I think this problem is also the same one as this one:
https://github.com/PowerShell/xStorage/issues/85

[2017-06-20 09:04] Zuldan commented on #102
Fantastic @PlagueHO I was about to spin up another VM to try replicate the problem again. I thought the resource might be seeing something unexpected. Notice the 'System.Object[]' in the Verbose message.

`Set-TargetResource: Partition 'System.Object[]' is already assigned to access path 'C:\MountPoint\SQLDATA01\'.`

[2017-06-20 09:40] PlagueHO commented on #102
@Zuldan - I've figured out the problem:
In Windows Server 2012 R2 the `Add-PartitionAccessPath` cmdlet doesn't support having a Disk object piped to it, whereas this is supported in Windows Server 2016 and Windows 10.

E.g. This works in Windows Server 2016, but not Windows Sever 2012 R2:
[code]

So I need to change it to:
[code]

So I'll make the changes now and submit the PR tonight. So if you'r

[2017-06-20 09:55] Zuldan commented on #102
Fantastic! good work. I'll try it tomorrow morning and report back. Really appreciate you looking at this so quickly.

I'm guessing you'll also need to do the same for UniqueId.

[code]

[2017-06-20 09:59] Zuldan commented on #102
Actually ignore the above code. That doesn't make sense. I'm sure you know what I mean ;P

[2017-06-20 10:04] PlagueHO commented on #102
@Zuldan - haha yep - I know exactly what you mean. I don't need to worry about the UniqueId vs Number thing though because the $Disk object already contains the Disk that was retrieved using the required identifier.

I also figured out why these tests never caught the problem: The integration tests can't run on AppVeyor because they require Hyper-V so that a VHDX can be created and mounted. This i

[2017-06-20 10:22] PlagueHO commented on #102
@Zuldan - here is the new fixed version in my repo:
https://github.com/PlagueHO/xStorage/tree/Issue-102

I'm going to try and get DISKPART to create the VHD to use for testing in AppVeyor which will allow more effective automated testing. So I won't submit this PR until I can get that working- so that will be tomorrow night.

Thanks for your patience and help!

[2017-06-21 01:42] Zuldan commented on #102
@PlagueHO I can confirm it's working fine now on 2012 R2. Many thanks again! You are owed many beers.

[2017-06-21 08:16] PlagueHO commented on #102
@Zuldan - always a pleasure - and I did write the code that original broke it :grin: But it happens and is just a chance for me to implement better automated tests! I actually have come up with a way I can run the tests in AppVeyor against WS2012R2 so that it should be tested every time.

[2017-06-21 08:54] PlagueHO opened #103 "Error in xDiskAccessPath when max size used and disk partitioned and formatted but not mounted"
The following error occurs when a disk already contains a partition and is formatted but the size of the partition is not specified but it is not mounted.
[code]

[2017-06-22 10:07] Zuldan opened #104 "xDiskAccessPath - UniqueId format different between server 2012 and 2016"
@PlagueHO I hope this one doesn't cause too much work. We've just deployed out first 2016 server in the lab and noticed that UniqueId has a different format between operating systems. I feel terrible because I was the one that initially suggested using UniqueId but it looks like Guid should have been used instead. I had no idea Microsoft changed the formatting between OS versions. Damn!

Have you

[2017-06-22 10:35] Zuldan commented on #104
I guess one solution would be to add a 3rd DiskIdType called Guid.

[2017-06-23 20:45] PlagueHO commented on #104
Hi @Zuldan - that is actually OK :grin: I had suspected we might need other identifier types down the track, so I did write the code with that in mind. So I'll work on it (once I've got my other PR through) and get a solution! Always happy to have improvements to make!

[2017-06-23 20:55] Zuldan commented on #104
Thank you very much @PlagueHO

[2017-06-23 23:29] PlagueHO opened #105 "Error Thrown in xMountImage when mounting VHD on Windows Server 2012 R2"
After enabling integration tests to be run in AppVeyor without Hyper-V, this exposed an issue when mounting a VHD in Windows Server 2012 R2.

An error would be thrown in `Mount-DiskImageToLetter`:
[code]

[2017-06-24 21:53] #102 closed

[2017-06-25 02:29] PlagueHO commented on #105
Fixed by #106

[2017-06-25 02:29] #105 closed

[2017-06-30 07:36] PlagueHO commented on #104
Hi @Zuldan - I'll get onto this one this weekend and see if I can get it included in the next release of xStorage.

[2017-06-30 07:47] Zuldan commented on #104
@PlagueHO thank you very much. Looking forward to it.

[2017-07-01 08:06] PlagueHO commented on #104
Hi @Zuldan - I've run into a bit of a big problem with this change:

The GUID for a disk only exists once it has been initialized with a GPT partition table - which of course can't be done because the disk can't be selected/found. And also, you'd not know the GUID for the disk to load into the DSC Config.

I could still perform this change, but this would only ever work for disks that were already

[2017-07-01 08:22] Zuldan commented on #104
Ok now I feel really bad but if we had gone with GUID originally we would have run into the same problem. Surely Microsoft has a way to identify a disks through their entire life cycle. I'll do some digging around.

Adding GUID support is not a complete waste. I could modify our provisioning system to automatically initialize the disks before DSC runs. I'm sure others could do the same.

[2017-07-01 09:59] Zuldan commented on #104
Ok maybe a sign of hope.

UniqueId in Get-PhysicalDisk (in 2016) appears to be in the same format as UniqueId in Get-Disk (in 2012 R2). I haven't checked to see if Get-PhysicalDisk in 2012 R2 is the same format too.

[2017-07-01 09:59] PlagueHO commented on #104
Oh no worries - it's all good :grin:

I'm going to keep the feature in there anyway as I think it may still be useful for the reasons you've suggested. I also improved the code a little so that if there are other disk identifiers we can use then it should be easier to update in future.

You can try it out here:
https://github.com/PlagueHO/xStorage/tree/Issue-104

I've just got to fix the unit test

[2017-07-02 03:03] Zuldan commented on #104
@PlagueHO thank you very much. I'll give it a test run in the lab tomorrow.

What are your thoughts on UniqueId in Get-PhysicalDisk in 2016?

[2017-07-02 04:26] PlagueHO commented on #104
Hi @Zuldan - I'm not sure. I used Get-PhysicalDisk and Get-Disk on one of my WS 2016 servers and both of them displayed the same uniqueId values - although the disks were returned in a different order.

So I'm not sure we can rely on this.

[2017-07-02 06:44] PlagueHO opened #108 "Set powershell.codeFormatting.preset in .vscode\settings.json to "Custom""
This will override a user defined value. See https://github.com/PowerShell/DscResources/issues/284#issuecomment-312422210

[2017-07-02 08:51] Zuldan commented on #104
No worries. Thanks for the feedback :)

[2017-07-03 10:32] Zuldan commented on #104
@PlagueHO the added GUID support worked a treat today. Thank you very much. A crate of beers to you!

[2017-07-04 07:50] PlagueHO commented on #104
Awesome @Zuldan ! Really great to hear! Hopefully I can get someone to review the PR so it can be included in the next release. No need for the beers :grin:

[2017-07-04 07:57] Zuldan commented on #104
I think I came across a bug today. If you change a fully configured volumes drive letter to something it shouldn't be then runs consistency check the resource says something like "creating partition on disk blah blah and assigning drive letter blah blah then fails saying not enough disk space. 2 issues from that, it shouldn't say creating partition when one exists and it's trying to do something f

[2017-07-04 09:27] PlagueHO commented on #104
Hi @Zuldan - this is most like the same cause as this one:
https://github.com/PowerShell/xStorage/issues/103

But definitely report this if you can with logs and I'll get onto it... as soon as I can :grin:

[2017-07-11 07:23] #11 closed

[2017-07-16 23:30] PlagueHO opened #110 "Improve Badge Area in README.MD to show table and both master/dev branches"

[2017-07-20 19:09] #104 closed

[2017-07-25 07:35] PlagueHO opened #111 "Update Year in License and Module Manifest to 2017"
See https://github.com/PowerShell/DscResources/issues/298

[2017-07-31 07:10] PlagueHO opened #112 "Add .GitHub Contributing, Issue Template and Pull Request Template"
Add the files:
 - .github/CONTRIBUTING.md
- .github/ISSUE_TEMPLATE.md
- .github/PULL_REQUEST_TEMPLATE.md
To this repo to improve the amount of information being collected when issues are raised and to provide a checklist for reviewers/contributors when PR's are raised.

We should use the ones from [xFailOverCluster](https://github.com/PowerShell/xFailOverCluster/tree/dev/.github).

[2017-07-31 20:03] #112 closed

[2017-08-10 07:59] PlagueHO commented on #110
Fixed in #107

[2017-08-10 07:59] #110 closed

[2017-08-10 08:40] PlagueHO opened #115 "Remove BOM on PS1 and PSM1 files and optin to tests"
Optin to these tests once BOM is fixed:
Common Tests - Validate Module Files
Common Tests - Validate Script Files

[2017-08-11 06:05] Froosh commented on #103
A similar error occurs in xDisk, for exactly the same reason.

[2017-08-11 06:48] PlagueHO commented on #103
I have some time this weekend and I'll try and finally resolve this issue (in both xDisk and xDiskAccessPath). I have had quite a lot on the backlog recently :cry:

[2017-08-11 07:05] #108 closed

[2017-08-11 07:05] #111 closed

[2017-08-22 08:43] Zuldan commented on #103
@PlagueHO I ran into this little nasty again today. On another note I wonder if it's worth adding the following two properties to xDiskAccessPath to bring it in-line with xDisk.

[Write, Description("Specifies if potentially destructive operations may occur.")] Boolean AllowDestructive;
[Write, Description("Specifies if the disks partition schema should be removed entirely, even if data and oem pa

[2017-08-25 08:22] PlagueHO opened #116 "Link Readme.md to Wiki Entries"
**Details of the scenario you tried and the problem that is occurring:**
It is not obvious from the README.MD that there is a Wiki containing the full documentation.

**The DSC configuration that is using the resource (as detailed as possible):**
N/A

**Version of the Operating System and PowerShell the DSC Target Node is running:**
N/A

**Version of the DSC module you're using, or 'dev' if you're

[2017-08-29 11:03] SQLHorizons commented on #47
@PlagueHO, sorry it's been awhile, but I'm back using dsc with another client and see that the issue with parent child disk config I highlighted on the Sep 29 2016 is still a problem.  Is there anyway I can work around this?

[2017-08-31 07:34] #116 closed

[2017-09-01 09:10] PlagueHO commented on #47
Hi @SQLHorizons - Sorry, I really dropped the ball on this one! I think because it got mixed in with all the other stuff in the issue.

Could I be a total pain and get you to raise this in a separate issue so I can track it and resolve it correctly? I'll do my best to get this looked at by the end of next week (I'm completely flat out at my day job till Thursday next week). Hope this is OK?

[2017-09-01 21:03] PlagueHO opened #118 "Fix Failing Tests due to changes in DSCResource.Tests"
A recent change in DSCResource.Tests (https://github.com/PowerShell/DscResource.Tests/pull/186) caused the unit tests for the DSCResource.Tests module itself to be executed during the test run in this module.

For non-harness type modules this is being fixed in DSCResource.Tests itself, but for harness type, this must be fixed using this suggested change:
https://github.com/PowerShell/xNetworking/

[2017-09-02 11:27] #118 closed

[2017-10-12 07:37] PlagueHO opened #120 "Migrate Pester Test Syntax from v3 -> v4"
**Details of the scenario you tried and the problem that is occurring:**
As of Pester v4 the syntax of the `Should` cmdlet has changed from `Should Be` to `Should -Be`.

There is a helpful script that can be used to easily perform the conversion:
https://gist.github.com/indented-automation/aeb14825e39dd8849beee44f681fbab3

This script should be used to correct the Pester syntax.

[2017-10-17 22:03] positivism1 opened #121 "xDiskAccessPath fails test for disk and accesspath after disk format and folder creation."
**xDiskAccessPath:**
xDiskAccessPath fails the disk and access path test when the Disk and Folder are created within the same configuration.
[code]
  Configuration AccessPath
  {

      Import-DscResource -ModuleName "xStorage"

  Node 'TestAPI' {

            xDisk Disk1{
              DiskID = "1"
              DriveLetter = 'E'
              FSLabel = "TestAPI_E"
              FSFormat="NTFS"

[2017-10-18 15:36] codykonior opened #122 "xDisk and xDiskAccessPath: Add -UseLargeFRS option for Format-Volume"
**Details of the scenario you tried and the problem that is occurring:**
When formatting drives (and mount points) for SQL Server a common best practice is to use a Format-Volume parameter -UseLargeFRS. Can this be added as an option on the resource?

**The DSC configuration that is using the resource (as detailed as possible):**
xDisk and xDiskAccessPath.

**Version of the Operating System and Po

[2017-10-20 06:25] PlagueHO commented on #121
Thanks for raising this @positivism1. I've come across similar problems to this when mounting disks. It seems that sometimes there is a delay after a disk is formatted before it becomes fully available.

Can you confirm a few things for me?

Which version of xStorage are you using?
Does the configuration go into alignment correctly if applied a second time?

Could you try adding an xWaitForDisk st

[2017-10-20 06:45] PlagueHO commented on #122
Hi @codykonior - this sounds like a pretty great feature and shouldn't be too difficult to add.

The biggest risk with using FSUtil to pull the "Bytes Per FileRecord Segment" label is localized.

@Johlju - I don't suppose you have a Swedish version of Windows Server 2012 R2 running that you can execute this command on to see if the labels are localized?

I'm also not sure if this would work on Nan

[2017-10-20 09:47] johlju commented on #122
I think I have one in my lab at home - I will check when I get home.

[2017-10-20 14:48] johlju commented on #122
Swedish:
[code]

[2017-10-20 15:21] johlju commented on #122
I thought that Swedish is not a big language, and most Swedish companies run the English version except on some Citrix deployments where Swedish might be used.
But for other languages like Spanish, I thought it might be different. And yes it is.

Spanish:
[code]

So this might be the same for Chinese, Arabic, etc.

[2017-10-23 23:28] positivism1 commented on #121
# Version number of this module.
ModuleVersion = '3.2.0.0'

The configuration works really well if applied a second time.

I have tried adding the Wait, but with the same result.

**Configuration**:
[code]
**Result:**

[code]

[2017-11-04 20:45] PlagueHO commented on #122
Awesome! Thanks @johlju for looking this up. This doesn't rule out using `fsutil` for this, but it does mean we couldn't use the name string. We could possibly use the position, but this is going to assume that the order of the returned lines stays the same - which is an awfully risky assumption.

Are we sure none of this information is surfaced anywhere else? CIM, registry, through .NET Framework

[2017-11-04 20:46] PlagueHO commented on #121
Thanks for this @positivism1 - I'm planning on spending some time working on issues with this resource over the next week or two and I'll see if I can replicate this one and fix it for you. Sorry about the time taken to look into this.

[2017-11-04 21:16] johlju commented on #122
The order of these could potentially work for languages that reads from left to right. But languages that read from right to left might show this differently. Not sure. As you says, it’s very risky. But maybe you could use the localization to find the correct string to read/search for.

I googled quickly while I was testing this but couldn’t find any other method. But that was a really fast search

[2017-11-04 21:41] PlagueHO commented on #122
Thanks for having a bit of a look around at this @johlju - I suspect that this could be something that is read straight out of the disk/volume information on the disk. So it might be possible to read the disk volume information and decode it - but this isn't something I'd want to do.

There is one other possible solution: do not evaluate this parameter in the `Test-TargetResource` - only use it wh

[2017-11-05 09:06] johlju opened #123 "xDisk: Allow formatting ReFS without integrity features"
**Details of the scenario you tried and the problem that is occurring:**
Disk containing databases for Exchange 2016 is supported using disk with ReFS, but the recommendation is to have integrity features turned off.
Currently this resource does not support this. I suggest adding a `[System.Boolean]` parameter `IntegrityStreams`. If the new parameter is left out or set to `$true`, the disk is form

[2017-11-05 10:05] johlju commented on #122
@PlagueHO Yes, reasonably if `Test-TargetResource` does not find a partition then `Set-TargetResource` formats the partition using this parameter (if set). Reasonably the user does not the partition to be reformatted once data is on it. Although, there is the parameter `ClearDisk` that could suggest a user wanting to do this, and if we don't check for this in the `Test-TargetResource` then that wo

[2017-11-08 00:48] VistraX commented on #121
@PlagueHO I've had this problem too, and it seemed to be a timing issue.  When running it a second time right after the folder creations it still failed (and third, fourth), but after an arbitrary amount of time, a re-run worked and configured the folder mounts.

There seems to be some background 'disk refresh' process that 'helps'.

I tried doing a 'Update-Disk' for the disk that the folders wher

[2017-11-08 06:08] PlagueHO commented on #121
Thanks @VistraX - I think you're right. I've not run into this problem in this resource but I have run across it with other disk automation processes in PowerShell.

What we need to be able to do is trigger the disk subsystems to refresh fully before returning the from the Set-TargetResource. I'll make a new version this weekend with some calls to additional functions (such as Get-PSDrive) to see

[2017-11-09 04:14] positivism1 commented on #121
Yep. Get-PSDrive is required if the drive fails to appear in the FileSystem PSPRovider.

I wrote this Script resource to fix it temporarily.

[code]

I'm happy to try get the xDiskAccessPath to do the Get-PSDrive.

Within the Set-TargetResource check if Get-PSDrive can find the correct FileSystem name based on the Disk letter provided by the AccessPath?

[2017-11-09 05:52] PlagueHO commented on #121
Hi @positivism1 - definitely! If you want to have a go at this and submit a PR for it then I'd be really happy to help you get it merged (e.g. update the tests, CHANGELOG.MD etc). We're always grateful for the assistance! :grin:

[2017-11-09 23:51] positivism1 commented on #121
Pull requests submitted....

Let me know what else needs to happen, Its my first day :-)

[2017-11-11 19:43] #115 closed

[2017-11-12 01:29] PlagueHO commented on #123
This looks pretty good to me @johlju and shouldn't be too difficult to implement. Let me see if I can get to this one this week.

[2017-11-12 02:18] PlagueHO commented on #121
Hi @positivism1 - I couldn't find your PR, but I eventually tracked it down. You've actually issued the PR to your own repo :grinning: - you'll want to submit the PR to this one (a.k.a. the upstream fork). e.g. submit the PR to `PowerShell/xStorage` rather than `positivism1/xStorage`.  That way it'll be merged into this repo when we accept the PR.

But we're very grateful for the help and I'll def

[2017-11-12 02:19] PlagueHO commented on #121
P.S. when you've submitted the PR to this repo it'll show up here:
https://github.com/positivism1/xStorage/pulls

[2017-11-12 21:55] positivism1 commented on #121
Alright, let me try this again.. haha

[2017-11-17 07:00] PlagueHO opened #128 "xScheduledTask: Remove unused non-mandatory parameters from Get-TargetResource"

[2017-11-17 19:57] #120 closed

[2017-12-08 19:57] PlagueHO opened #129 "Convert Module Name to StorageDsc"
As per recent DSC Resource Naming guidelines changes:
https://github.com/PowerShell/DscResources/blob/master/Naming.md

[2017-12-09 06:04] PlagueHO commented on #128
This issue was raised in error.

[2017-12-09 06:04] #128 closed

[2017-12-09 08:42] PlagueHO commented on #103
Sorry this one has taken me so long to get onto! I've put together the integration tests that are currently failing for this one and I'll work on making the pass tomorrow.

[2017-12-10 01:53] PlagueHO commented on #103
@Zuldan , @Froosh - sorry about the delay on this one. I've completed the fix and submitted it for merge. Hopefully this one will be complete soon.

[2017-12-10 01:59] Zuldan commented on #103
No problem at all mate. Your time and effort is greatly appreciated.

[2017-12-11 08:22] PlagueHO opened #131 "Set Github Repository Title"
@kwirkykat - can you set the Github repository title for this repo to:
This DSC Resource module is used to manage storage on Windows Servers.

Is it also worth setting the website to something like: https://blogs.msdn.microsoft.com/powershell/tag/dsc-resource-kit/

Or to the main DSC Resource Kit repo on Github?

Thank you!

[2017-12-11 19:42] #103 closed

[2017-12-11 19:44] PlagueHO commented on #103
@Zuldan , @Froosh - this has now been resolved and merged. It should be released in the next Resource Kit release in a couple of weeks. Thank you both for your patience! :grin:

[2017-12-13 17:56] kwirkykat commented on #131
@PlagueHO Done

[2017-12-14 06:00] PlagueHO commented on #131
Thank you @kwirkykat !

[2017-12-14 06:00] #131 closed

[2017-12-15 15:41] paulmackinnon-adv365 opened #132 "xDisk unable to format drive with remaining free space"
**Details of the scenario you tried and the problem that is occurring:**
Not enough available capacity

Been using xStorage within Azure Automation DSC fine for weeks, and now machines that I deploy error that there is not enough available capacity.

The Wiki information for Size under xDisk reads : "Specifies the size of new volume. Leave empty to use the remaining free space." When it was workin

[2017-12-15 15:49] paulmackinnon-adv365 commented on #132
Right... 2min after clicking 'post comment' I realise what the issue is. My syntax referencing a DSC config of the version before which had a size limitation on it. FFS

[2017-12-15 15:49] #132 closed

[2017-12-17 12:01] oribesser commented on #85
Hi,
I have the same issue (version 3.3.0.0) with this configuration:

`
xWaitforDisk Disk1
{
    DiskId           = 1
    RetryIntervalSec = 30
    RetryCount       = 2
}

xWaitforDisk Disk2
{
    DiskId           = 2
    RetryIntervalSec = 30
    RetryCount       = 2
}

xWaitforDisk Disk3
{
    DiskId           = 3
    RetryIntervalSec = 30
    RetryCount       = 2
}

xDisk DVolume
{
    DiskId

[2017-12-22 22:58] PlagueHO commented on #85
Hi @oribesser - this should be resolved once I can get this PR through: https://github.com/PowerShell/xStorage/pull/126

Just needs merge conflicts resolved and it should be able to be merged.

[2018-01-06 00:19] #96 closed

[2018-01-06 00:21] PlagueHO opened #135 "Move entry for new xOpticalDiskDriveLetter resource into Unreleased section"
The xOpticalDiskDriveLetter entries in the CHANGELOG.MD need to be moved into unreleased:
https://github.com/PowerShell/xStorage/blob/dev/CHANGELOG.md#3400

[2018-01-06 06:45] johlju commented on #96
@kewalaka and @timhaintz thanks for this !

[2018-01-06 06:48] DelectableMechanisations opened #137 "xDisk: PartitionStyle parameter is non-configurable"
I'm having some trouble with the xDisk DSC Resource.

To give you some background I have written a DSC Bootloader script that dynamically generates a DSC Configuration Data file (.psd1) and, among other things, adds the server's disks into this.
Here is the relevant sample portion of my Configuration Data file:
[code]

For completeness here is the portion of the DSC Composite resource that deals w

[2018-01-06 08:07] PlagueHO opened #138 "Convert xOpticalDiskDriveLetter to SingleInstance pattern resource"
Because xOpticalDiskDriveLetter can only change the disk letter of a single optical drive in a system then it should use the SingleInstance pattern to ensure only a single resource can be used of this type per config.

[2018-01-06 08:09] #135 closed

[2018-01-06 08:13] johlju commented on #138
I will review this as soon as you send in a PR (or when I wake up) :)

[2018-01-06 08:45] PlagueHO commented on #138
Thanks @johlju - I really appreciate that. I've nearly finished it. I did a bit of a clean up on some of the style issues that I missed in the original PR (actually quite a few). But I knew you'd pick them up so better to fix them :grin:

[2018-01-06 08:48] johlju commented on #138
Sounds great! 😆  It's morning here now, so I will review it as soon as you PR it in.

[2018-01-06 09:20] PlagueHO commented on #137
Hi @DelectableMechanisations - thank you so much for the kind compliments! The community is definitely working really hard to bring the quality up of all modules in the DSC Resource kit. It makes me happy to know it is noticed :grin:

Anyway, on to the MBR: actually I had noticed this too sometime back, but for some reason never added the feature. But if you've got code and would be happy to contr

[2018-01-06 23:14] PlagueHO opened #140 "Refactor xOpticalDiskDrive to resolve edge case issues and support multi disk systems"
@johlju, @kewalaka , @timhaintz  - Could I get some input from you guys: The more I look into this resource, the more I'm finding things that may cause confusion in the long run.

It has a limited scope and also fails in one case:
1. Supports only a single optical disk
2. Fails if the drive is not assigned to a letter at all
3. Having an "Ensure" parameter adds complexity that is not required: it

[2018-01-06 23:15] PlagueHO commented on #138
I'm not sure this resource is correct. I've raised issues in #140

[2018-01-07 00:09] kewalaka commented on #140
hi @PlagueHO only comment I have was I thought 'Ensure' was a mandatory parameter, it is confusing in this instance however, I did think of removing the drive letter if Ensure was Absent.

I'm happy with your approach, however.

[2018-01-07 00:34] PlagueHO commented on #140
Thanks for getting back to me @kewalaka ! I really appreciate this! :grin:

Ensure isn't mandatory and can sometimes make things more confusing. So I reckon in this situation we should remove it. But I'm not adverse to using it - I just felt after looking at the code it would actually simplify it a lot.

[2018-01-07 00:50] kewalaka commented on #140
No worries in which case I agree makes more sense to drop it.  The multiple
drives thing is quite a rare case, at least in my xp, but it make sense
just to align with other disk resources.  It's a shame the key field cant
accept a default but the example makes it clear.  Who'd thought such a
little resource would be such a troublemaker :)  thanks for the advice and
feedback it's been interesting w

[2018-01-07 01:13] PlagueHO commented on #140
It definitely is the edge cases that tend to be the most pain - I totally understand on that one. I only picked it up because my development test server has multiple optical drives in it and when I executed the integration tests they failed. But you're right - it is a bit of a pity the DiskId can't be defaulted as that would make the MOF trivial. I still would have had to add IsSingleInstance para

[2018-01-07 08:18] johlju commented on #140
@PlagueHO I agree to this, would be much better. But Ensure still has a point since the resource is called xOpticalDiskDriveLetter. Changing to the key as you suggest would mean the following to say "I don't want a drive letter on optival drive 1".

[code]

Although, if your suggestion is also to rename the resource to xOpticalDiskDrive (as in the issue comment) I agree that Ensure parameter becom

[2018-01-07 08:25] PlagueHO commented on #140
Hi @johlju - I like the idea about renaming this resource to xOpticalDiskDrive. But I think we probably need to do some more thinking on the whole thing. I'll leave this open for a little bit before I do any more work - as somethings still feel off.

[2018-01-08 05:39] PlagueHO commented on #140
I'm still knocking this change about and have actually think that the `Ensure` parameter might still be required. The reason is that en empty string on a required parameter does not seem to be supported (I've never needed to implement this anywhere).

But the problem I have is whether or not to make `DriveLetter` a required parameter or not.

1. If `DriveLetter` is required then this is what remov

[2018-01-08 06:18] timhaintz commented on #140
I like option 1. My use case is to change the drive letter to Z or get rid of it all together so I can use D: or E: for a data drive. Using Azure ARM templates, it seems like D: is the default.
For me:
`        xOpticalDiskDriveLetter DismountOpticalDisk1
        {
            DiskId = 1
            DriveLetter = 'D' # The actual value doesn't even matter
            Ensure   = 'Absent'
        }

[2018-01-08 06:33] PlagueHO commented on #140
Cool! Thanks @timhaintz - I think this makes the most sense to me too.

[2018-01-08 17:36] johlju commented on #140
@PlagueHO I vote for option 1 too.

@timhaintz you format the code by using three backticks on a seperate row before and after the code. Or a single backtick before and after to make the `code block inline`.

\```
code
\```

[2018-01-13 01:42] #140 closed

[2018-01-13 01:47] PlagueHO commented on #138
This is no longer required.

[2018-01-13 01:47] #138 closed

[2018-01-13 07:05] timhaintz commented on #129
@PlagueHO I noticed the help wanted badge. Yell out if you want to send some things my way. Happy to help as long as you don't mind guiding the way again. :)

[2018-01-13 07:12] johlju commented on #129
@timhaintz it would be awesome if you want to help out, we will guide you if you need help, just tag us and let us know what you need help with. Also, on any issue, just say that you want to work on it, or that you are working on it, and @PlagueHO will change the label from 'help wanted' to 'in progress' and we will await your PR. 😄

[2018-01-13 20:49] PlagueHO commented on #129
Absolutely @timhaintz - the more the help the better and we're definitely keen to have more people like yourself contributing! So just pop a note in the issue if you want to work on it - all help is gratefully accepted! :grin: The more people contributing changes to these repos enables me to focus on the review (freeing up @johlju - who practically reviews every one of my changes on his own).

If

[2018-01-14 11:57] timhaintz commented on #129
Great, thanks @PlagueHO and @johlju will go through the links and try and get up to speed so I can help out a bit more.
Cheers. :D

[2018-01-24 12:32] timhaintz commented on #129
@PlagueHO and @johlju I have forked the repo and made the changes. (https://github.com/timhaintz/xStorage) How do I get the tests to run from my repo? I don't want to make a pull request if my tests are failing. I can't run the test to check though.....
Thanks.

[2018-01-24 13:09] johlju commented on #129
Create a account on AppVeyor, once logged in add a project and choose the fork on GitHub. When the fork is shown in AppVeyor project list then each time you push to your fork AppVeyor will see that and start running the tests. You can see the tests running in the AppVeyor console as well.

For unit test you can run them locally on your dev machine if you like since they should be non-destructive (

[2018-01-24 19:34] timhaintz commented on #129
Thanks @johlju will work on it again tonight.

[2018-01-25 10:59] timhaintz commented on #129
@PlagueHO @johlju https://github.com/PowerShell/xStorage/pull/142 created. Please let me know what I have missed or any updates that are required. Thanks, Tim.

[2018-01-25 11:25] johlju commented on #129
Awesome work! I leave the review part to @PlagueHO. @PlagueHO let me know if you need any help reviewing.

[2018-01-29 07:51] erwinvandijk opened #143 "xOpticalDiskDriveLetter missing from Master branche"
The DSC resource xOpticalDiskDriveLetter is missing in the Master branch. Version 3.4.0.0.

[2018-01-29 09:23] PlagueHO commented on #143
Hi @erwinvandijk - this will be merged to master when the next release on the DSC Resource kit goes out- this is due Wednesday, 7th of Feb. In the mean time, you can use the Dev version if you wish.

[2018-01-29 10:57] erwinvandijk commented on #143
Hi @PlagueHO , thx for the info. We already took the dev branch version for that :-).

[2018-01-29 10:57] #143 closed

[2018-01-31 20:10] PlagueHO commented on #129
All done now! Thanks @johlju and @timhaintz ! Great stuff!

[2018-01-31 20:10] #129 closed

[2018-01-31 20:19] timhaintz commented on #129
Thanks for all your help @PlagueHO and @johlju . Has been great.

[2018-02-05 17:04] IcedGoblin opened #145 "xDiskAccessPath: Mounted disks get drive letter on reboot"
**Details of the scenario you tried and the problem that is occurring:**

We are currently using the xStorage 3.4.0.0 module with the xDiskAccessPath resource within Chef to mount disks to a folder path. This works fine however on reboot the mounted disks are also assigned drive letters. Looking at native PowerShell there is an option like `Set-Partition -NoDefaultDriveLetter $true` and I was wond

[2018-02-05 23:25] PlagueHO commented on #145
Hi @IcedGoblin - thanks for raising this. This does sound like a switch we could add.

My question for the community: Should this switch default to "True"? E.g. should a drive letter be prevented from being assigned to the disk when using the DiskAccessPath (note: xDiskAccessPath has been renamed to DiskAccessPath in StorageDsc).

[2018-02-06 07:10] johlju commented on #145
I vote for using the default `$true`, do not assign drive letters. I would think that if you want to use mount points, one reason is that there will potentially not be enough drive letters for the disks, meaning there will not be enough drive letters for all mount points.

[2018-03-04 02:42] timhaintz opened #147 "Wiki hasn't updated to include OpticalDiskDriveLetter"
The Wiki page for StorageDsc doesn't have OpticalDiskDriveLetter available. The examples are available in: StorageDsc/Modules/StorageDsc/Examples/Resources/OpticalDiskDriveLetter/
Should the Wiki auto update?

From the Wiki page:
**Included resources**
-Disk
-DiskAccessPath
-MountImage
-WaitForDisk
-WaitForVolume

Thanks, Tim.

[2018-03-22 16:55] jacerm opened #148 "xWaitforDisk, xDisk: Format disk popup prompts after successful deployment"
**Details of the scenario you tried and the problem that is occurring:**

I am deploying an Azure VM with data disks. I am wanting to format a data drive using a combination of the following resources and parameters (see snippet).

The Azure VM successfully deploys and the DSC applies successfully. But accessing the VM for the first time, I am immediately prompted by a popup telling me to format t

[2018-04-05 07:51] PlagueHO opened #149 "Set Optional Failure Flags for all PSSA Tests"
Add the following opt-in settings to enable CI failure on violation of these PSSA rule types:

- Common Tests - Required Script Analyzer Rules
- Common Tests - Flagged Script Analyzer Rules
- Common Tests - New Error-Level Script Analyzer Rules
- Common Tests - Custom Script Analyzer Rules

[2018-04-05 07:52] PlagueHO commented on #147
Hi @timhaintz - the Wiki doesn't yet autoupdate. I've got an issue open over on DSCResources.Tests (where the Wiki is generated) to add code to do this - but haven't got to it. So at the moment I've got to update the Wiki manually. I'll do it now - thanks for raising this!

[2018-04-05 08:02] PlagueHO commented on #147
This has now been resolved. Thanks @timhaintz

[2018-04-05 08:02] #147 closed

[2018-04-05 08:08] PlagueHO commented on #148
Hi @jacerm - thanks for logging this - that is really useful info. Are you able to post the DSC configuration output? Are you able to check in Disk Manager if the disk has been prepared with GPT and partitioned at all?

[2018-05-03 10:10] adhodgson1 opened #151 "Disk: Moving from xDisk attempts to create new partition in error"
**Details of the scenario you tried and the problem that is occurring:**

I have a VM that comes up with some formatted volumes and some new disks.  i used to use xDisk to format the new disks and assign the correct drive letter to the volumes, because the disks that were already provisioned were being assigned the wrong drive letters.  I moved to StorageDsc and found this failed.

What I expected

[2018-05-03 13:11] adhodgson1 commented on #151
Not sure if this helps but on the disks I am seeing this with I have a small reserved partition at the beginning of the disk which is showing up as the first partition.  I am not sure if the resource is seeing this as not matching so it goes onto create the partition then fail instead of moving to the next partition?

[2018-05-04 07:02] PlagueHO commented on #151
Hi @adhodgson1 - there were some breaking changes between 2.8.0.0 and 4.0.0.0 that changed the behavior of the Disk resource to handle more scenarios. Are you able to output the verbose logs of applying the resource so I can trace the path through the resource?

Based on the description of the state your disk, I would expect a second partition to be created using the rest of the free space on the

[2018-05-04 09:06] adhodgson1 commented on #151
Hi,

There is already a volume on the disk.  I am using the Disk resource to ensure the volume is assigned the correct drive letter, and format the drive if required.  I think at the moment it is trying to create a new partition on the drive.  Here is the output:

Get-Disk -Number 4

Number Friendly Name Serial Number                    HealthStatus         OperationalStatus      Total Size Partit

[2018-06-06 00:35] tcotten commented on #121
I've also run into this issue and will try to pick up where positivism1 left off.

[2018-06-06 07:27] PlagueHO opened #153 "Correct Style Violations in StorageDsc.Common.psm1"
There are some style violations in the StorageDsc.Common.psm1 - specifically in the parameters block of the functions:
- Assert-DriveLetterValid
- Assert-AccessPathValid

The `[Parameter()]` is not in the correct format or missing. The type accelerators are also being used which is not the case in the other functions.

[2018-06-12 13:12] tom-dudley commented on #137
@DelectableMechanisations Do you mind if I make a PR on your behalf to get this useful addition merged?

[2018-06-14 08:52] mmajcica opened #154 "MountImage Name parameter"
Since at least version 2.6.0.0 of xStorage the Name parameter was removed. This is unfortunate as now ImagePath is a key. This means that if we would like to first mount, use it, then unmount a resource in our configuration this will not be possible anymore.
Will there be a chance that this property gets reintroduced or am I missing something about the logic that draw you to take it out?

[2018-06-14 09:19] PlagueHO commented on #154
Hi @mmajcica - thanks for raising this. This has been raised in this issue: https://github.com/PowerShell/StorageDsc/issues/73

Although I completely understand your use case here, it actually goes against the intended behavior of DSC. What I mean is that typically we shouldn't think about DSC as a set of steps that need to be applied in order to go from one known state to another. DSC was intende

[2018-06-14 09:31] mmajcica commented on #154
Hi @PlagueHO ,

thank you for your complete answer. This is something I was suspecting and indeed the use I presented goes against the principals of DSC. It is a good observation about the LCM which only applies, if I'm not wrong, in case of the pull setup.

All of this as I'm provisioning several MSI's that are part of different ISO files and I do mount-dismount on the same drive letter each time

[2018-06-14 10:02] PlagueHO commented on #154
Sorry I couldn't provide an adequate solution on this one - and it is definitely a perfectly valid use case.

The LCM can still apply multiple times in Push mode as well Pull mode, but you are right, this problem is only going to occur if the LCM is set with ConfigurationModeFrequencyMins > 0 and ConfigurationMode is ApplyAndAutoCorrect.

Again, I wish I had a good solution for you - but script sh

[2018-06-15 14:58] mmajcica commented on #154
Having the DriveLetter set as a key, will not allow us to reuse the drive letter for our installations.
Provisioning several tools that do ship as iso files will just be difficult in this case as drive letters are not infinite.

What was offered in the previous versions and that was a Name param, made things implicitly less compatible with the idea of desired state, however it was way more flexibl

[2018-06-15 19:56] PlagueHO commented on #154
Perhaps an alternative would be for creation of a new resource that combines the mounting, installation and dismounting process in a single Set, but only if the Test determined the software was not installed.

I do understand the need for this. It was changed because it had been the cause of other problems due to being able to be misconfigured. It also could also allow VHD/VHDx in read/write mode

[2018-06-18 06:54] johlju commented on #154
@mmajcica I understand you problem, but sounds like you looking for creating a programmatic flow with DSC, and it isn't built for that, it's built for keeping a desired state. It's built for making sure the iso, in this case, is mounted on a drive letter, if it is not, it will be remounted. Being able to specify more than one .iso will make a ping-pong behavior, when the configuration can never be

[2018-06-19 07:58] PlagueHO commented on #151
I realized I haven't followed up on this one!

Is it possible to output the verbose logs of the DSC run? It should show us the exact path through the resource that the code is taking.

[2018-06-25 07:56] mmajcica commented on #154
@johlju you are tight about the tool not being built for that and that what I am trying to do is an abuse of the idea that stands behind the DSC.
I'll look up for a better approach as soon as I do get a chance to refactor the current script; for now sticking to 2.6.0.0 version of xStorage. Thanks

[2018-06-25 07:56] #154 closed

[2018-06-29 13:44] adhodgson1 commented on #151
Sorry about this, I feel it should be easy to get the verbose info but can't seem to do this easily at present.  I have re-created the problem configuration so can do this if I get more info.

[2018-07-02 06:29] PlagueHO commented on #151
You should be able to just apply the config using:
[code]

It should then just dump all the verbose logs to the console for you (you'd run this on the node you're applying the config to).

[2018-07-02 10:22] adhodgson1 commented on #151
Sorry about that, I am running using AutomationDSC so had to find the right command to run and went down a bit of a rabbit hole which got me confused. :(

So to recap:
New VM being spun up with 4 disks:
  - Disk 0 = OS;
  - Disk 1 = Azure Temp drive (automatically formatted);
  - Disk 2 = Server drive (new disk not formatted);
  - Disk 3 = data drive (attached disk, formatted);
  - Disk 4 = backup

[2018-07-03 09:19] adhodgson1 opened #156 "Refresh drives after modifications"
Hi,

A few of us seem to be using the Disk resource to create/format drives, then in another part of the DSC we use cNTFSAccessControl from https://github.com/SNikalaichyk/cNtfsAccessControl to set NTFS permissions.

This always fails the first time if the disk resource has just formatted the drive and we change the NTFS access under the same DSC document.  Please see the following issues:

https:

[2018-07-03 09:40] adhodgson1 commented on #156
Sorry this is possibly open in error as I am not seeing the above behaviour on the Disk resource from StorageDSC 5.0.0.0, just on the resources I haven't moved over yet, some of them due to another issue open in this repo.

[2018-07-03 09:40] #156 closed

[2018-07-12 11:53] bbollard opened #157 "Disk : Test-TargetResource does not fail when Allocation Unit size changes"
**Details of the scenario you tried and the problem that is occurring:**
When using the Disk resource to set a non-default AllocationUnitSize such as:

        WaitForDisk Disk6
        {
             DiskId = 6
             RetryIntervalSec = 60
             RetryCount = 60
        }

        Disk ZVolume
        {
             DiskId = 6
             DriveLetter = 'Z'
             FSFormat = 'NT

[2018-07-12 14:36] johlju commented on #157
This sounds like a bug. Labeling it as such and help wanted so that anyone in the community can run with it.

[2018-07-19 07:22] PlagueHO commented on #157
Hi @bbollard - you are correct, however it is by design, although it could be in need of improved design. If you set the `AllowDestructive` to `$true` then `Test-TargetResource` will return that the disk is not in state. `Set-TargetResource` will be called and the disk will be reformatted with the correct blocksize.

It could be argued however that `AllowDestructive` should just block the reformat

[2018-07-19 08:15] johlju commented on #157
Oh, I see now, thanks for commenting on this @PlagueHO!

@PlagueHO we could either document what functionality is "skipped" when  `AllowDestructive` equals to `$false` (unless it is already done), or `Test-TargetResource` will always return `$false` and we write out a warning saying what steps was "skipped" due to the `AllowDestructive` equals to `$false`. But not sure warning is seen, unless runn

[2018-07-19 11:18] bbollard commented on #157
I believe this particular case is a classic situation where 'one size does not fit all', since we are dealing with File Systems and where one person may want the volume re-formatted while someone else may not. In my case, I would not want the volume re-formatted, however, given this is a compliance toolset, I would want to know that the volume is out of compliance so that the reason why could be i

[2018-07-24 11:50] johlju opened #158 "WaitForDisk: Add read-only parameter 'Available'"
**Details of the scenario you tried and the problem that is occurring:**
Suggest we add a read-only parameter to the WaitForDisk resource. That way the `Get-TargetResource` could call `Test-TargetResource` and return the result (the actual current state) of the disk in the property `Available` when calling `Get-DscConfiguration`.

Alternative names for the read-only property could be 'IsAvailable'

[2018-07-24 11:51] johlju opened #159 "WaitForVolume: Add read-only parameter 'Available'"
**Details of the scenario you tried and the problem that is occurring:**
Suggest we add a read-only parameter to the WaitForVolume resource. That way the `Get-TargetResource` could call `Test-TargetResource` and return the result (the actual current state) of the volume in the property `Available` when calling `Get-DscConfiguration`.

**The DSC configuration that is using the resource (as detailed

[2018-07-26 22:01] #73 closed

[2018-07-26 22:01] #148 closed

[2018-08-02 16:01] adhodgson1 commented on #151
Hi,

I have looked at this again and believe I can work around this issue by specifying the 'FSFormat' option which will stop the partition creation process on the existing drive.  I will try this next week.

[2018-08-03 09:27] PlagueHO commented on #151
Awesome @adhodgson1 - I look forward to hearing about this to see if it can be resolved. Sorry for not looking back into this earlier!

[2018-08-03 10:47] adhodgson1 commented on #151
Hi,

I tried this unfortunately with the same results.  The resource is still trying to create a partition on the drive because Windows is allocating the existing volume on the disk a drive letter (incorrectly).  I need the following to happen which is working with the old resource version given the DSC block shown in the issue description:

- If the disk is blank create a new volume on the drive

[2018-08-10 19:47] Rukas commented on #137
It would be great if this gets merged.  Would totally help my use case!

[2018-08-18 07:09] PlagueHO opened #160 "Update Pull Request and Issue Templates Copied from xPSDesiredStateConfiguration"
Copy the files:
[code]

From:
https://github.com/PowerShell/xPSDesiredStateConfiguration/pull/438

[2018-08-21 21:43] indyK1ng opened #162 "Disk: Does specifying an existing partition letter without a size expand the partition to use the remaining free space on the drive"
This is a question about the existing functionality.

Can we use this to resize a volume to use the remaining free space of a drive in addition to its existing space?

We would like to use this to resize partitions on VMs if the virtual disk has been resized. The [wiki documentation](https://github.com/PowerShell/StorageDsc/wiki/Disk) says regarding Size: "Specifies the size of new volume. Leave e

[2018-08-22 08:39] johlju commented on #162
I assume that you don't want to specify the `Size` property, but want the `Size` to be "current size of entire disk" (not sure that equals to "remaining free space" above), and together with `AllowDestructive` should resize the partition?

Feels that the scenario you looking for is not tested among those "AllowDestructive" tests. Closest is this one; https://github.com/PowerShell/StorageDsc/blob/b

[2018-08-22 13:50] indyK1ng commented on #162
Not the entire disk - if there's another partition on the disk we don't want to delete it. That's what I mean by "remaining free space", the unpartitioned space remaining on the disk. Other than that, yes I want it to resize the partition with ```AllowDestructive``` when no ```Size``` is specified to use up any space not in a partition.

I also didn't see any tests that cover this case and, like I

[2018-08-23 09:07] johlju commented on #162
This sounds like a bug, labeling it as such, and help wanted so that anyone in the community can run with this.

[2018-08-23 10:30] PlagueHO commented on #162
It does indeed look like this is a bug and should be able to be fixed fairly easily by setting `$Size` to `$supportedSize` if `Size` is not set in the resource just before this line (https://github.com/PowerShell/StorageDsc/blob/2f8d3200aa799ea34ebae4c20707aefc27f6225b/Modules/StorageDsc/DSCResources/MSFT_Disk/MSFT_Disk.psm1#L499). I'll try and get a fix through for this tomorrow or the weekend.

[2018-08-25 01:04] PlagueHO commented on #162
This has required a bit more to it than what I first thought. Hopefully won't be much longer. Needed a lot more new tests to really validate that this isn't going to break anything.

[2018-08-31 15:13] cmptscpeacock opened #165 "Disk with Number 'X' is already initialized with MBR."
Hi,

I'm using this DSC to deploy an Azure VM from an ARM template:

Import-DscResource -ModuleName StorageDsc, xComputerManagement, xNetworking

    Node localhost
    {

        LocalConfigurationManager
        {
            RebootNodeIfNeeded = $true
            ConfigurationMode = "ApplyOnly"
        }

        WaitForDisk Disk2
        {
            DiskId = 2
            RetryIntervalSec =$

[2018-09-03 08:48] johlju commented on #165
@cmptscpeacock Is it possible you could run the configuration manually on the target node so you can get the verbose output and submit it here? The verbose output will show more in detail what is going on.

[2018-09-03 14:33] cmptscpeacock commented on #165
@johlju Is this enough for you? I've got debug mode on whilst running manually...

PS C:\temp\dsc> Start-DscConfiguration .\mfa -Wait -Verbose -Force

VERBOSE: Perform operation 'Invoke CimMethod' with following parameters, ''methodName' = SendConfigurationApply,'className' = MSFT_DSC
LocalConfigurationManager,'namespaceName' = root/Microsoft/Windows/DesiredStateConfiguration'.
VERBOSE: An LCM met

[2018-09-04 09:30] johlju commented on #165
@cmptscpeacock Thanks for the verbose output, that will help I'm sure.

Not sure why it says that GPT is required, looks like the Test function always does this
https://github.com/PowerShell/StorageDsc/blob/8a6869665ed6e2c4551edfa5de0574ba533b6c03/Modules/StorageDsc/DSCResources/MSFT_Disk/MSFT_Disk.psm1#L749-L757
So maybe it just an unclear the verbose message, not actually a problem unless you ex

[2018-09-07 10:37] cmptscpeacock commented on #165
Is anyone available to respond?

@PlagueHO ?

[2018-09-08 00:16] PlagueHO commented on #165
I just provisioned an Azure VM (manually via the portal) and attached a managed data disk and it does appear to create this as RAW. So it should be correctly formatted with GPT the first time the DSC Config runs.
![image](https://user-images.githubusercontent.com/7589164/45248060-d5ccc800-b360-11e8-8d2b-833363256217.png)

Is it possible there is some other process that runs that prepares the parti

[2018-09-09 07:01] PlagueHO opened #167 "Disk Resource defines CIM class MSFT_Disk which is a Windows Built in CIM class"
While adding `PartitionStyle` parameter to Disk (see https://github.com/PowerShell/StorageDsc/issues/137), I realized that the name of the CIM class implemented in the Disk resource (`MSFT_Disk`) is the same name as the built-in CIM Class (https://msdn.microsoft.com/en-us/library/windows/desktop/hh830493(v=vs.85).aspx).

![image](https://user-images.githubusercontent.com/7589164/45262053-cafa5c00-

[2018-09-09 07:58] PlagueHO opened #168 "Add .VSCode Settings for PSScriptAnalyzer Rules"
See https://github.com/PowerShell/DscResources/pull/424

[2018-09-09 08:02] PlagueHO opened #169 "Refactor Repository Folder Structure so Harness not Required"
See https://github.com/PowerShell/DscResource.Tests/issues/225

[2018-09-10 05:52] johlju commented on #167
As per discussion, let see if we can change the prefix 'MSFT' to 'MSFTDSC' for this particular resource to avoid a breaking change.

[2018-09-10 06:36] cmptscpeacock commented on #165
If it helps, this is the ARM template that adds the data disk:

          "dataDisks": [
            {
              "name": "[concat('dsk-',parameters('vmName1'),'-data1')]",
              "diskSizeGB": "[parameters('vmName1DataDisk1')]",
              "lun": 0,
              "createOption": "Empty"
            }

Nothing too involved. It really does come down to what the DSC script does in terms

[2018-09-14 16:53] mwtilton opened #171 "Disk (MSFT_Disk): Opens Format Window"
#### Disk (MSFT_Disk): Opens Format Window - and not in the CLI

#### Details
When Running the above script the verbose output returns no error messages and finishes cleanly however the "Formatting Disk (E:)" window is opened upon "completion" of the other operations. This forces you to still select formatting options through the GUI instead of remain on the CLI

If you run the below cmdlets it al

[2018-09-14 17:11] mwtilton commented on #171
Looks like this was a similar issue to: #148
And I also tested with:
[code]
This will still bring up a prompt but allow the actual progress to be "tracked within the CLI

[2018-09-14 17:18] mwtilton commented on #165
I just wanted to add that I am running into a similar issue but not an Azure based VM and also the error is repeatable from first attempt onward.

I have made attempts to force `convert gpt` at installation but that doesn't hold once you actually log into the VM, also attempted to change it from `dispart` after login and it runs into a `pagesys` file error and from my research it looks like the pa

[2018-09-14 22:56] PlagueHO commented on #171
I have noticed this during integration tests and should be resolved if possible - although it doesn't seem to cause a failure. It should be easy enough to fix using your suggested code. I've got one PR going through at the moment so I'll include your code after that (unless you want to submit a PR?) .

[2018-09-14 22:58] PlagueHO commented on #165
@mwtilton - there is a new feature going through review at the moment that adds MBR support (https://github.com/PowerShell/StorageDsc/pull/170). Should be through soon (hopefully :grin:) .

[2018-09-15 08:40] cmptscpeacock commented on #165
Thanks for the update and progress. This will be very useful going forward. Many thanks

[2018-09-16 04:35] mwtilton commented on #171
Whatever works easiest for you :)

[2018-09-16 04:39] mwtilton commented on #165
@PlagueHO Awesome! I noticed that it was set to be worked on in #170 just wanted to throw in my two cents in case someone else came by and saw the original post stating:

Look like you got it under control, thanks! 👍

[2018-09-17 09:46] johlju commented on #171
Using `Format-Volume` with `Full` will actually write to every byte on the disk, and is not recommended when using thin provisioning. So using `Full` says that it should not use quick-format.

The GUI that pops up, isn't that just the GUI is to quick to find the disk will it still isn't reported as formatted? Isn't it a GUI "bug" and not a problem with running the cmdlets? 🤔

[2018-09-17 13:35] mwtilton commented on #171
I am currently use "Thick" provisioning for my VM's so I think `-Full` is the better option in the long run, I could definitely be wrong though... :)

But I'm betting to help those who do not use "Thick" provisioning there should be the option to turn it "on/off"
[code]

You can add in the `-Confirm` parameter and it should suppress the gui window. Still testing as it seems it may not work in conj

[2018-09-17 17:17] ronhowe opened #172 "Simple Formatting Drive Failing via StorageDsc 4.1.0.0"
**#### Details of the scenario you tried and the problem that is occurring**

We have had the same implementation in DSC configuration for a long time and it has worked on many servers.  In this last version of the DSC Resource Kit including StorageDsc 4.1.0.0 provisioning a new server, we're now getting errors formatting the E$ drive. The Disk 1 gets mounted and a volume is created.  The drive ac

[2018-09-18 06:30] PlagueHO commented on #172
Hi @ronhowe - it looks like there is some problem with `Get-PartitionSupportedSize` that gets the supported partition size on the disk using CIM.

What is the result if you run the following PowerShell command on the DSC target machine:
[code]

[2018-09-18 12:02] ronhowe commented on #172
PS C:\Windows\system32> Get-Partition -DiskNumber 1 | Get-PartitionSupportedSize

  SizeMin   SizeMax
  -------   -------
134217728 134217728
Get-PartitionSupportedSize : Failed
Activity ID: {f301d1c0-32b0-47d3-9843-25a53e5cf0eb}
At line:1 char:31
+ Get-Partition -DiskNumber 1 | Get-PartitionSupportedSize
+                               ~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotS

[2018-09-18 12:03] ronhowe commented on #172
The same commands works on our QA box.

PS C:\Windows\system32> Get-Partition -DiskNumber 1 | Get-PartitionSupportedSize

   SizeMin    SizeMax
   -------    -------
  33554432   33554432
3273650176 8555314688

They're the same OS, same PowerShell, same DSC configuration.

The only difference is the size of the E$.  In QA it is ~8 GB.  In Production it is ~50 GB.

[2018-09-18 12:34] ronhowe commented on #172
Relevant DSC Operations entries in the event log.

Log Name:      Microsoft-Windows-DSC/Operational
Source:        Microsoft-Windows-DSC
Date:          9/18/2018 8:23:52 AM
Event ID:      4252
Task Category: None
Level:         Error
Keywords:
User:          SYSTEM
Computer:      SAASMANAGE01.idibill.com
Description:
Job {9BC6FBD9-BB3D-11E8-A818-005056A2F90F} :
MIResult: 1
Error Message: The SendC

[2018-09-18 20:01] ronhowe commented on #172
LOL

WOW

I found this article in Japanese and used Bing to translate it to English.

https://urabe8kaneyosi.wordpress.com/2018/01/25/get-partitionsupportedsize%E3%81%AE%E5%AE%9F%E8%A1%8C%E3%81%AB%E5%A4%B1%E6%95%97%E3%81%99%E3%82%8B/

In essence, the "Optimize drives" service (defragsvc) can *not* be set to Startup = Disabled as this server was.  It has to be set to Manual (or "higher").

I did th

[2018-09-19 06:31] johlju commented on #172
@ronhowe That is some awesome detective work! Sounds like the documentation for the resource should be updated with this as a requirement.
Not sure if it serves any purpose, but it could also be added as a regression test to the integration tests, to see that it fails. Maybe one day it doesn't, then the requirement could be removed. 🙂

[2018-09-20 07:04] #137 closed

[2018-09-21 18:39] #172 closed

[2018-09-21 20:43] PlagueHO commented on #172
Wow! Good job detecting that one @ronhowe - that is some great information. @johlju - I'll submit a PR to add some documentation for this as it is definitely an obscure "gotcha"!

[2018-09-25 09:08] PlagueHO commented on #165
This PR has gone through now so it should be released to the PS Gallery in the next Resource Kit release. Will close this once that has gone out and the problem has been confirmed to be resolved.

[2018-09-25 12:01] johlju commented on #165
I labeled it 'resolved in dev', and remove 'in progress' label.

[2018-09-25 12:02] CPeacockSoltec commented on #165
Great work @PlagueHO !

[2018-09-26 07:07] #153 closed

[2018-10-12 11:37] #151 closed

[2018-10-19 09:53] CPeacockSoltec commented on #165
any update on this? is the new version ready for production?

[2018-10-19 11:13] johlju commented on #165
I think the next release of DSC Resource Kit will be somewhere before end of October, but not certain, I don’t know of an exact date.

[2018-10-24 18:17] timhaintz commented on #159
Hi @johlju sign me up for this one.

[2018-10-25 08:13] mrhockeymonkey commented on #91
Did this ever get close to being implemented? Would be really helpful for me.

[2018-10-25 08:20] PlagueHO commented on #91
HI @mrhockeymonkey - unfortunately not yet. I don't have much time these days so hoped someone else would pick it up. But if not, it is still on the long backlog!

[2018-10-25 08:42] mrhockeymonkey opened #177 "Tagged versions not yet published to PSGallery"
Hi Guys,

Is there a reason the latest tagged releases for this repo don't appear in PSGallery? Can we get them published?

My company only want to use published modules and the latest available is 3.4 which doesn't have the OpticalDriveLetter Resource. Unless I'm missing something obvious of course...

[2018-10-25 08:59] mrhockeymonkey commented on #177
Ah. it was me missing something obvious after all. Looks like the project has been renamed to StorageDSC. Disregard

[2018-10-25 08:59] #177 closed

[2018-10-27 00:19] aleksbor commented on #121
Hello Everyone, what is the ETA for this fix?

[2018-10-27 00:52] PlagueHO commented on #121
Hi @aleksbor - I think the PR has been abandoned - it still needed some work to meet minimum standards:
https://github.com/PowerShell/StorageDsc/pull/152

If someone has time to pick it up then it doesn't have much work to do. I've not had a lot of time to work on DSC lately.

[2018-10-31 15:13] scottmatthews343 opened #178 "Release 4.2.0.0 has incorrect nuspec configuration"
ISSUE TITLE:
Release 4.2.0.0 has incorrect nuspec configuration

ISSUE DESCRIPTION:
I cant see where your deployment scripts are but I believe there is an issue when generating a nu-spec file for release. In release 4.1.0.0 the nu-spec was:

[code]

However in release 4.2.0.0 it is
[code]
Notice the missing ".0"

The result of this is that the module is installed to C:\Program Files\WindowsPowerSh

[2018-11-01 05:43] PlagueHO commented on #178
Hi @mrhockeymonkey - Leaving off the trailing 0 in the nuspec is actually something Nuget does rather than something we do during the publish process. However, this shouldn't cause a problem when using `Install-Module StorageDsc` from the PSGallery.

I gave it a try myself and it all looks OK:
![image](https://user-images.githubusercontent.com/7589164/47834846-ffa4e700-de05-11e8-9e4d-2d284755efd1.

[2018-11-02 18:57] mrhockeymonkey commented on #178
Indeed you are correct it looks like I don't have the issue when I try from PSGallery on my home laptop. At work we use Artifactory to cache PSGallery modules for internal use (we have no direct internet access). Artifactory is the equivalent of a standard NuGet repository.

I'll test this by spinnig up a separate NuGet server, not Artifactory, and see what happens. There is a chance it's Artifact

[2018-11-02 21:09] PlagueHO commented on #178
Hi @mrhockeymonkey - I use Sonatype Nexus at work which is similar to JFrog Artifactory and we use it to proxy the modules. However, we're using it as a "proxy" rather than a mirror. You could use PSGallery on a machine connected to the internet to pull down the modules using ```Install-Module``` and then bring the files into your internal network manually and then use the ```Publish-Module``` com

[2018-11-08 22:52] eschrader opened #179 "Disk- Creating a new disk only respects drive letter param"
This code keeps creating a drive F (no label) in File System format RAW with full capacity. Why does it not apply the label?
![image](https://user-images.githubusercontent.com/18456293/48232266-e0f2a300-e365-11e8-9962-7e4b1ad1f7ba.png)

[2018-11-08 23:09] eschrader commented on #179
Possibly related to #157

[2018-11-09 00:20] eschrader commented on #179
Actually, I just waited about 27 minutes and its all fixed now it looks like. Maybe it just takes a long time?

[2018-11-09 06:15] PlagueHO commented on #179
Hi @eschrader - it shouldn't usually take that long to partition and format a disk. It usually takes under 10 seconds. Was the disk a virtual disk? Could you ask DSC to output the verbose logs as that should tell us the particular disk task that is taking so long (e.g. the initialization, partitioning, volume creation).

[2018-11-10 00:50] eschrader commented on #179
Yea I am using an Azure IaaS VM with a new data disk. I was using Azure Automation, so maybe that's why it took so long.

[2018-11-10 05:09] #158 closed

[2018-11-12 22:34] bradwilliamson commented on #165
I start getting this error message as well.  Seems to have worked fine and just started breaking on my hourly jobs that enforce config management.  I believed we used the same module to partition these disks.  I updated from 4.1.0.0 to 4.2.0.0 to see if that fixed it.  So is GPT a requirement as opposed to MBR?

msg": "PowerShell DSC resource MSFTDSC_Disk  failed to execute Set-TargetResource func

[2018-11-30 17:00] martinjosephogorman commented on #165
I'm also getting this error when redeployed on an Azure Managed disk. Using 4.3.0.0

[2018-11-30 18:57] PlagueHO commented on #165
We added MBR support to the Disk resource in 4.3.0.0, but I couldn't get Azure to pre-format the disk with MBR. However the errors seemed to indicate that an empty value (instead of RAW) is being returned when detecting the disk format.

I'll try some experimentation later on today to see if I can figure this out once and for all.

[2018-12-01 07:54] PlagueHO opened #181 "Azure VM Data Disk Max Partition Size is Different to Actual Size"
#### Details of the scenario you tried and the problem that is occurring

Using Disk resource to create a partition on an empty data disk using all free space reports that the size of the partition is smaller than it maximum size:
![image](https://user-images.githubusercontent.com/7589164/49325544-52aabf00-f5a9-11e8-91a4-27eb75e0e720.png)

I was using a 1023 GB data disk, so it is possible that th

[2018-12-03 05:47] #169 closed

[2018-12-03 20:03] JoshuaJSwain commented on #85
I have a pull request up for this issue https://github.com/PowerShell/StorageDsc/pull/183

[2018-12-06 14:38] martinjosephogorman commented on #165
Thank you for looking at this I'm specifically using Azure Automation DSC to apply the DSC.  I must admin when I run locally I do not get the same issue.  I will attempt to get further logs shortly

[2018-12-07 10:55] martinjosephogorman commented on #165
I'm afraid I don't have details logs above, but I do have the errors.

Job {*******} :
This event indicates that failure happens when LCM is processing the configuration. Error Id is 0x1. Error Detail is The SendConfigurationApply function did not succeed.. Resource Id is [Disk]GVolume and Source Info is ::17::9::Disk. Error Message is The PowerShell DSC resource '[Disk]GVolume' with SourceInfo ':

[2018-12-07 14:22] mrhockeymonkey commented on #178
Hi @PlagueHO feel free to close this (apologies for not replying sooner). As mentioned its a weird quirk with artifactory, turns out this only happens when I install directly from artifactory's cache and not when I use it as a proxy. The only reason I was doing that at all was because i had no way to specify the version I wanted explicitly in Ansible but that is getting solved in https://github.co

[2019-01-10 02:12] cgrycki opened #185 "WaitForDisk: Resource Not Found in Release 4.4.0.0"
#### Details of the scenario you tried and the problem that is occurring
The WaitForDisk resource is no longer found after the module is updated to release 4.4.0.0. The same configuration works in release 4.3.0.0.
#### Verbose logs showing the problem
Could not evaluate: Resource WaitForDisk could not be found.
#### Suggested solution to the issue
N/A
#### The DSC configuration that is used to rep

[2019-01-10 08:32] PlagueHO commented on #185
Hi @cgrycki - I'm having trouble tracking this issue down. Can you run the following commands on your machine and report what you see?
[code]

You should see something like this:
![image](https://user-images.githubusercontent.com/7589164/50955872-17dc6500-151f-11e9-9392-9a93c1f5bd1a.png)

Is it possible to identify where Puppet is looking for the StorageDsc resource module?

[2019-01-10 08:56] PlagueHO opened #186 "OptIn To Example Publishing"
Example publishing is currently disabled - it should be enabled:
https://github.com/PowerShell/DscResource.Tests/blob/dev/README.md#publish-examples-to-powershell-gallery

[2019-01-10 23:50] cgrycki commented on #185
I was able to determine that this is not a PowerShell/DSC issue. The new release was installed side by side with the previous release. When multiple versions of a DSC module are installed, the Puppet dsc_lite module requires an additional parameter to determine the module version to use. Unfortunately this was not reflected in the Puppet log messages and I jumped to conclusions. Thank you for your

[2019-01-10 23:50] #185 closed

[2019-01-11 04:57] PlagueHO commented on #185
No worries @cgrycki - that is really good info to know! I'm always interested in learning the nuances of using DSC resources with Puppet, Chef, Ansible etc. Thanks for letting me know!

[2019-01-11 23:12] Onibus commented on #165
+1, having issues using xDisk when deploying via Azure State Configuration (DSC). I attached a new disk to a VM and modified my configuration to use the disk #. After deploying, it fails with the following:
PowerShell DSC resource MSFT_xDisk failed to execute Set-TargetResource functionality with error message: System.InvalidOperationException: Disk with Number '1' is already initialized with MBR.

[2019-01-11 23:15] PlagueHO commented on #165
@Onibus , @martinjosephogorman - is it possible to paste some screenshots of the Azure State Configuration settings for the Storage Resource? Anything I can use to replicate this issue in Azure.

[2019-01-14 19:20] Onibus commented on #165
Snippet of xDisk code used. This is against Server 2019 Core.
[code]

I uploaded the DSC config to my Automation Account and compiled it, which was successful. I then added the node to State Configuration.

After the node picked up and applied the configuration, it failed with the following.
![image](https://user-images.githubusercontent.com/6449080/51129580-cf5fc880-17f8-11e9-8585-7d6935e15cde.pn

[2019-01-14 20:45] Onibus commented on #165
Snippet of xDisk code used. This is against Server 2019 Core. The configuration only contains xDisk.
[code]

I uploaded the DSC config to my Automation Account and compiled it, which was successful. I then added the node to State Configuration.

After the node picked up and applied the configuration, it failed with the following.
![image](https://user-images.githubusercontent.com/6449080/51139872-

[2019-01-15 09:39] PlagueHO commented on #165
Very awesome info @Onibus ! Thank you. That will allow me to have a go at replicating it. I'm travelling for work the next few days but will get onto this as soon as I can.

[2019-01-15 21:14] reidav commented on #80
Hi,

We had the same issue while configuring disks before SQL Cluster provisionning (4.3.0.0)
Get-Partition always returns multiple disks.

We just added above 'if' statement after Get-Partitions command

[code]

Hope it helps.

[2019-01-16 21:53] Onibus commented on #165
I took out all the xDisk stuff and left the Domain config code in with the hopes it would work. But, it dies in the same place as xDisk when `Set-TargetResource` runs.
[code]
The error message returned for that portion is
[code]
Fingers are all pointing to `Set-TargetResource`. It appears that Azure DSC or the Azure environment itself is doing something weird. If I were to copy/paste that function

[2019-01-19 02:47] #179 closed

[2019-02-15 16:29] #178 closed

[2019-02-16 21:16] PlagueHO opened #191 "Clean up Module Manifest"
The module manifest doesn't match standards.

The Author and Copyright needs to be updated. It should be autoformatted.

[2019-02-16 21:23] PlagueHO opened #192 "Add DscResourcesToExport to Manifest and Remove Wildcards"
To improve the information in the PowerShellGallery, add DscResourcesToExport to the module manifest.

Also remove wildcards from FunctionsToExport, CmdletsToExport, VariablesToExport, AliasesToExport.

[2019-02-19 16:24] AlexGitHubAcc opened #194 "OpticalDiskDriveLetter: If optical drive is not present, the behaviour of the ressource should change if "Ensure" is set to "Absent""
#### Details of the scenario you tried and the problem that is occurring

Sometimes you get an optical drive in a Vm deployed to Azure and sometimes not. That's why I tkink it may be handy to make sure there's no optical drive through the usage of the 'OpticalDiskDriveLetter'  resource.

If the VM does not use an optical drive and  the 'Ensure' parameter is set to 'Absent', the resource returns an

[2019-02-20 08:55] PlagueHO commented on #194
Thanks for raising this @AlexGitHubAcc - that sounds like a good idea. We'll leave the enhancement open for community feedback and then look at getting onto it.

[2019-02-20 08:59] #145 closed

[2019-02-20 23:02] ndoody opened #196 "Disk: Setting fslabel on multiple partitions labels all partitions the same"
When I use the Disk command to create multiple partitions on the same disk, all having their own fslabel setting then it seems to change the label to be the same on all partitions on each iteration.

The code used to set the disk partitions is as follows :

		WaitForDisk Disk2
        {
             DiskId = 2
             RetryIntervalSec = 60
             RetryCount = 60
        }
        Disk H

[2019-02-21 11:41] ndoody commented on #196
Strange, this kind of worked on some new machines...the labels were correct but I cannot get it to work on old machines.  The only difference is I upgraded from 4.2.0.0 to 4.4.0.0 and the new machines are wiped clean with the latest modules, the old machines are just upgraded and no matter what they won't get correct labels.

However, there is a new odd behaviour...I've created 2xvolumes of 550GB

[2019-02-21 12:52] nyanhp commented on #181
@PlagueHO I stumbled upon this because my customer is seeing this issue. We are using -AllowDestructive, which means a neverending clear disk -> create partition loop since the size is different. It is not due to the size of the volume though - we are getting this issue with various sizes.

[2019-02-21 18:15] PlagueHO commented on #181
Hi @nyanhp - What we probably need to check next is if this is an issue with the underlying CIM information - which I think underpins the PS cmdlets here. If it is in the CIM then we'll need to raise this issue with the Windows Server team.

E.g. the fact that when using UseMaximumSize you don't actually get a partition with the PartitionSupportedSize.SizeMax seems wrong to me, but I might be impl

[2019-02-21 18:19] PlagueHO commented on #196
Hi @ndoody - thanks for raising this. Are you possibly able to post the verbose logs from running the DSC config here (minus any identifiable info)?

[2019-02-21 19:13] ndoody commented on #196
Where do I get these logs from?  This is deployed through the DSC agent installed from within the azure cloud.  It has the usual operational logs for DSC, and you can trick it into running a new "update-dscconfiguration" by recompiling the config in the cloud and I can take info from "Get-DSCConfigurationStatus" this way.

[2019-02-21 19:53] ndoody commented on #196
This was easily repeatable on a new disk and configuration.  This is the end product 👎

![image](https://user-images.githubusercontent.com/45797629/53197457-2c2d7a80-3612-11e9-8dc8-d8779478c735.png)

This is the script part run

WaitForDisk Disk3
        {
             DiskId = 3
             RetryIntervalSec = 60
             RetryCount = 60
        }
        Disk GVolume
        {
             D

[2019-02-22 08:24] #191 closed

[2019-02-22 08:24] #192 closed

[2019-02-22 10:15] nyanhp commented on #181
Hi @PlagueHO I went another route... I need to run a few more tests with different file system formats and so on, but in my environment, the following alteration to Test-DscResource looked good:
[code]

I am unsure how this will behave for larger volumes, which I cannot really test. The diff between $Partition.Size and SizeMax varied with values between 0.8 and 0.98 MiB for my tested sizes of 20,

[2019-02-22 18:49] PlagueHO commented on #181
Wow! Great info @nyanhp - I reckon we might need to look into using your work around. I'll also reach out to the Windows Server team via the MVP PGI and see if they can enlighten us (or if I've been misusing/misunderstanding the behavior). Although, you might have better contacts over there :grin:

But in the mean time we should look at the risks in using your work around.

[2019-02-22 19:01] PlagueHO commented on #181
Doh! Wrong URL posted in one of the other issues! So ignore ^

[2019-02-23 18:51] PlagueHO commented on #196
Thanks @ndoody - I'm having a go at replicating this now. Hopefully I have an idea where this might occur.

[2019-02-25 07:53] PlagueHO commented on #196
Hi @ndoody - *facepalm* from me - I've realized what is happening here. The issue is that each the Disk resource uses the Size to determine if it should create a new volume on an existing Disk or update an existing volume. In your case, because each volume is 32GB the resource is updating the same Volume with a new label and Drive letter.

This is a bit of a limitation of the Disk resource (a whol

[2019-02-25 18:24] PlagueHO commented on #196
Thinking about this further, I think we need some better examples and documentation of this behavior until we have a good way of resolving it.

[2019-02-26 13:50] nyanhp commented on #181
@PlagueHO  you would be surprised how little impact we premier field engineers have vs the MVP community, but I'll try to find out nevertheless.

In the meantime I will create a PR with the workaround.

[2019-02-27 08:49] nyanhp commented on #181
@PlagueHO , it is the offset. I can't believe that I forgot about that. I will need to invest some time to properly calculate the result for Test-TargetResource and test the behavior. The default offset should be 1MB, the resource does not allow specifying Alignment and Offset which makes this a bit easier.

[2019-02-27 09:47] nyanhp commented on #181
Sorry for the spam, but I experimented some more. It is the alignment (multiple of PhysicalSectorSize) of the partition that is used in the calculations, at least in some form. I have yet to find out how Offset and Alignment are related here.

[code]

I created an issue on UserVoice, let's see how that goes: https://windowsserver.uservoice.com/forums/301869-powershell/suggestions/36967870-get-part

[2019-03-04 23:35] JoshuaJSwain commented on #145
Sorry I missed a proper handling of get-partition to get the state on first run. Small fix in https://github.com/PowerShell/StorageDsc/pull/198

[2019-03-08 11:52] hasangural commented on #165
+1 having same issue when I was trying to use DSC to deploy an Azure VM from an ARM template. Did you find the solution for this issue?

[2019-03-08 20:53] PlagueHO commented on #165
Hi @hasangural - I'm still catching up on issues so haven't managed to replicate this one yet. Sorry about that.

However, I've just noticed that @Onibus was having this issue with the old xStorage resource instead of this newer StorageDsc module.

@hasangural - were you getting this problem with the latest StorageDsc module?

[2019-03-08 21:07] PlagueHO opened #199 "Assert-MockCallled for Unit Tests for DiskAccessPath do not check Exactly"
The Unit tests for DiskAccessPath are not correctly assessing if mocks are called the correct number of times because the -Exactly parameter is missing.

[2019-03-08 21:43] PlagueHO commented on #50
I'm going to close this because it has been implemented.

[2019-03-08 21:43] #50 closed

[2019-03-08 21:45] PlagueHO opened #200 "DiskAccessPath - Add AllowDestructive and ClearDisk Switches"
Add AllowDestructive and ClearDisk Switches to DiskAccessPath to enable disk to be cleared and reset by this resource. See #50

[2019-03-25 05:45] #199 closed

[2019-03-30 19:05] PlagueHO opened #202 "Example Publishing to PS Gallery Fails"
The following warning occurs:
https://ci.appveyor.com/project/PowerShell/StorageDsc/branch/master#L3418

This is because gallery_api setting is missing from AppVeyor.
https://github.com/PowerShell/xPSDesiredStateConfiguration/blob/dev/appveyor.yml#L6

[2019-04-01 05:40] #202 closed

[2019-04-04 23:46] haodeon commented on #196
Hi,

I'm encountering a similar if not the same issue.

I am trying to format an Azure P30 managed disk into 10 partitions of 50GB each.
What I am finding is the resource detects there is a partition with the same size already and just modifying the first partition to have the drive letter and label of the next partitions.

I am currently changing the size by 0.0001GB by each parition as a dirty h

[2019-04-11 13:23] martinjosephogorman commented on #165
@Plague I was having the issue on StroageDSc and xStroage

[2019-04-11 13:27] hasangural commented on #165
@martinjosephogorman , Hi, If you are using Azure VM and DSC extension, please be aware of the diskId. I used to use like that; it is still working.

$getDisks = Get-Disk

xWaitforDisk Disk2
        {
            DiskIdType = 'UniqueId'
            DiskId = ($getDisks | Where-Object {$_.Path -like '*disk#000000#*'}).UniqueId
            RetryIntervalSec =$RetryIntervalSec
            RetryCount =

[2019-04-11 14:54] martinjosephogorman commented on #165
Thank you @hasangural will try it out.

[2019-05-03 16:18] kinwolfqc opened #205 "OpticalDiskDriveLetter : Does not appear when doing Get-DscResources and cannot load in script"
I've installed the module StorageDSC on a target computer, from an internal nuget server, using Install-Module.  When I look on the target, I see StorageDSC correctly installed under c:\program Files\modules.

But when try to load one of it's resources, i.e. OpticalDiskDriveLetter, powershell tells me it cannot find that module.  If I do a `get-dscresource`, other module installed, like LanguageDS

[2019-05-03 17:07] kinwolfqc commented on #205
I found the problem(but not the solution yet)  Somehow, the module gets installed in `C:\Program Files\WindowsPowerShell\Modules\StorageDsc\4.6.0` but the manifest specify 4.6.0.0

When I manually rename the folder to 4.6.0.0 the module is seen correctly.  Installing it from PSGallery does not produce this(yet the nupkg is the one from PSGallery) Anyway, it seems it is related to the internal nuge

[2019-05-03 17:07] #205 closed

[2019-05-03 22:07] PlagueHO opened #206 "Common Tests - Validating Localization"
There are new 'Common Tests - Validating Localization' in DSCResource.Helpers.

Opt-in to these tests and resolve any issues.

[2019-06-09 08:55] NeoBeum commented on #167
This looks like something I complained about on MSDN late 2016.

Get-Disk -BusType now has an enumeration for NVME, however the same information is harder to collect in traditional cmd.
The objects use different source classes and at one stage I had a Samsung 850 Pro report it was using IDE.

DISKPART
WMIC DiskDrive
Get-Disk
Get-PhysicalDisk
DevCon

A moderator on MSDN told me that MSFT_Disk wasn'

[2019-06-10 20:16] PlagueHO commented on #167
Thanks for the info BeoBeum!

[2019-06-12 05:11] NeoBeum commented on #167
@PlagueHO
I found the other mismatch or wmi class that doesn't provide information if querying BusType. Specifically querying BusType "NVME".

SCSIBus and InterfaceType don't have any corresponding data pairs with MSFT_Disk.

As I'm not at my computer, I haven't checked, but I'm fairly sure that Win32_DiskDrive has no way to return a BusType for NVME since I last checked in  #2016.

https://docs.m

[2019-06-25 18:53] psychonic commented on #178
I just ran into this same issue with ComputerManagementDsc and xWebAdministration, installing packages manually cached from PSGallery in a local file share as a repository. The nuspec has the truncated version number, so the modules install to the wrong folder name.

Some other Microsoft modules and third-party modules don't seem to have this issue. Are there still no plans to fix it?

[2019-06-26 15:32] psychonic commented on #178
Looks like there is a separate issue for this at the PSGallery level. More info is at https://github.com/PowerShell/PowerShellGallery/issues/55

[2019-06-27 07:22] PlagueHO commented on #178
Hi @psychonic - this has been a long time problem with PowerShellGet - but more correctly an annoying behavior of Nuget itself. It will affect all DSC Resource modules published to the PSGallery unfortunately.

[2019-07-06 20:51] #206 closed

[2019-07-08 20:25] daniloalsilva commented on #121
Any updates on this one?

[2019-07-09 03:17] PlagueHO commented on #121
Hi @aleksbor - I'm planning on grabbing this one this week. Aim for end of this week.

[2019-07-13 08:07] #121 closed

[2019-07-19 03:59] AussieDavo opened #210 "Disk: Cannot convert System.UInt64"
## Details of the scenario you tried and the problem that is occurring
Error when running Test-TargetResource:
Cannot convert the \"System.Object[]\" value of type \"System.Object[]\" to type \"System.UInt64\".

I have attempted deleting the partition and letting DSC recreate, which it does successfully but then fails again on the next Test-TargetResource.

I had some success after changing the VM

[2019-07-20 07:41] PlagueHO commented on #210
Hi @AussieDavo - I'm trying to track down where this error is occurring and my best guess is it is hitting this line:
https://github.com/PowerShell/StorageDsc/blob/dev/DSCResources/MSFTDSC_Disk/MSFTDSC_Disk.psm1#L810

And possibly has returned more than one partition (not sure how though).

What is returned if you execute:
[code]
And:
[code]

On the node?

[2019-07-22 22:42] AussieDavo commented on #210
Hi @PlagueHO - I have attempted executing the above and seem to get multiple partition results for Q however there is definitely only one partition on that disk:

[code]
![Q](https://user-images.githubusercontent.com/5260349/61669611-02dd5b80-ad24-11e9-8827-62c78d27ab8c.jpg)

It is the same for every other disk with the issue.

This seems to be leading more to being a VMware related issue and the

[2019-07-23 07:46] PlagueHO commented on #210
Thanks for that detailed info @AussieDavo .

It is strange that the partition shows up twice, but on two different disks (I'm assuming there is just one disk that appears twice in the disk subsystem). I'm thinking that we could detect and handle this situation by always selecting the first disk that matches. We would definitely need to make sure that this was deterministic and always selected the

[2019-09-17 16:57] KCDeMag commented on #151
I found the "Not enough available capacity" DSC error in my instance was because the drive letters were not getting set properly when the drive was formatted. The Get-partition command didn't return any drive letters for the disk so I went back into Disk Management and right-clicked on the disk and selected "Change Drive Letter and Paths" which will let you specify the drive letter again. Once I s

[2019-09-21 00:42] PlagueHO commented on #151
Thanks for the info @KCDeMag - the resource is supposed to assign the drive letters should be getting set when the volume is formatted. Any idea why this wasn't happening?

[2019-09-24 06:05] johnwc commented on #181
When should we expect to see this fix released?

[2019-09-25 07:57] PlagueHO commented on #181
Hi @johnwc - it will go out in the next DSC Resource Kit release, which is due in about 5 weeks time. It is  a week after the next community call (which is on 23 October IIRC). So the release is likely right at the end of Oct.

[2019-09-25 14:28] johnwc commented on #181
@PlagueHO Thanks for the update. Do y'all publish preview releases?

[2019-09-26 06:45] PlagueHO commented on #181
@johnwc - not yet, but it is coming soon. We're in the process of migrating these modules over to the DSCCommunity.org, and when we do we'll adopt "per resource" release cadence, allowing maintainers to do preview releases etc.

[2019-09-26 07:01] #181 closed

[2019-11-16 07:21] PlagueHO opened #219 "Fix Hashtable Format"
This repository was missed in the recent changes to correct hashtable style.

[2019-11-23 20:41] #219 closed

[2019-12-22 05:09] wsmelton opened #221 "MSFT_MountImage - Dismounting an image fails Window Server 2019"
https://github.com/dsccommunity/StorageDsc/blob/dev/Examples/Resources/MountImage/1-MountImage_DismountISO.ps1

Use the above example does not seem to work for me on Windows Server 2019 with an ISO mounted to drive Z:

[code]

The error returned:

[code]

[2019-12-24 20:24] PlagueHO opened #223 "Update module to new CI and release process"
Since being migrated to the DSC Community, this module must be updated to use the new CI process and repository structure.

[2020-02-13 00:35] briefcase-Wanker opened #224 "Disk Initializing disk with UniqueId"
Hi,

I am initializing a number of disk using the disk resource. When I push a configuration it works no issue. If I push the configuration again the test fails. If the servers are restarted the disk drives are marked offline until either I enable them again or I push the configuration again in which case it is successful.

Is this expected behavior or am I doing something incorrectly.

Below is t

[2020-02-13 05:52] PlagueHO commented on #224
Hi @briefcase-Wanker (Inbetweeners fan :grin:), this does look like a bug. It does look like it could be similar to this issue: https://github.com/dsccommunity/StorageDsc/issues/80

And it looks like I wasn't able to solve the problem.

Could you run the following command on your machine and show the output?
[code]
Also, what is the result of this command:
[code]

[2020-02-13 21:46] briefcase-Wanker commented on #224
Hi @PlagueHO

Cheers for the reply output of the commands is below.
[code]

[code]

[2020-02-14 05:45] PlagueHO commented on #224
Hi @briefcase-Wanker - ah right, this explains why the error occurs:

It looks like this is caused by clustering because there are three partition objects with G: drive assigned. The first object is the physical partition and the second two appear to be some representation of the clustered partition on each node of the cluster.

It is possible that we can fix this by ignoring all but the first par

[2020-02-14 06:18] PlagueHO commented on #224
Additional Note: I can't release new versions of this module until I've updated this to the new CI/CD pipeline. This is #223

[2020-02-14 06:22] briefcase-Wanker commented on #224
Happy to test the preview when it’s ready.

[2020-03-06 11:50] johlju opened #225 "StorageDsc: Converting to new CI pipeline"
Work need to be done to convert this repository to use the new CI pipeline.

https://dsccommunity.org/blog/convert-a-module-for-continuous-delivery/

[2020-03-06 18:54] PlagueHO commented on #225
Hehe these are all duplicates :grin: #223

[2020-03-06 18:56] johlju commented on #225
Ah missed the other one! 😄 Then you get to close two issue when you merge 😉

You can close this as duplicate. :)

[2020-03-24 08:36] NemoDima opened #226 "MountImage: Get error when try to dismount after mounting iso"
#### Details of the scenario you tried and the problem that is occurring
Get error when try to dismount after mounting iso.

#### Verbose logs showing the problem
[code]

#### Suggested solution to the issue
N/A

#### The DSC configuration that is used to reproduce the issue (as detailed as possible)
[code]

#### The operating system the target node is running
[code]

#### Version and build of Pow

[2020-03-29 21:21] PlagueHO commented on #226
Hi @NemoDima , sorry for the delay in getting back to you.

This is by design and is how DSC should be used. This was discussed in https://github.com/dsccommunity/StorageDsc/issues/154.

I do understand the requirement though. In general, I'd recommend just leaving the ISO mounted permanently. @johlju - any thoughts you can share here? E.g. what do other users of SqlServerDsc tend to do? Do they j

[2020-03-30 05:47] NemoDima commented on #226
@PlagueHO thank you for the answer and explanation.

Now I understand DSC logic quite better.
I'm not sure, but maybe it has the sense to add some remarks to readme about MountImage and row execution.

For my purpose, I'll try to look on Script(https://docs.microsoft.com/en-us/powershell/scripting/dsc/reference/resources/windows/scriptresource) or xScript from xPSDesiredStateConfiguration (https:/

[2020-03-30 06:48] johlju commented on #226
@PlagueHO normally I would say you don’t mount an ISO. I would say that the normal production scenario is instead to extracted the ISO into an UNC path and the SourcePath parameter of SqlSetup resource is pointed to that UNC path. Mounting an ISO is probably best used in lab environments where you change SQL Edition very often and don’t want to change the configuration for whatever reason.

Althou

[2020-04-01 14:38] ricohomewood commented on #194
This is still an annoying issue in the Azure world. As some of the VM series Hyper-V clusters in Microsoft datacenters have optical disks and some don't.

@PlagueHO @SteveL-MSFT Is there any movement on trying to fix this bug?

[2020-04-01 18:19] PlagueHO commented on #194
Hi @ricohomewood. I'll work on this once I've completed the update to the new pipeline. Without that we cant release any changes. I'm hoping to get this finished this week. Sorry about the delay.

[2020-04-10 13:42] bozho commented on #226
@johlju We have a scenario where we host clients on bare metal machines which only have Windows Server installed and we need to install everything else, most notably SQL Server.

Our ideal workflow would be: download ISO file, mount, run SQL Server setup, unmount image, delete file. I'm aware it's much more imperative than declarative :-)

@PlagueHO, the way we work around this is that we have a s

[2020-04-13 01:34] PlagueHO opened #227 "Disk: Invalid Parameter error occurs with ReFS Volume on Windows Server 2019"
When using the Disk resource to create ReFS volumes on Windows Server 2019, an "Invalid Parameter" exception occurs when calling the `Format-Volume` cmdlet in the `Set` method.

This can be replicated outside of the DSC Resource with the following code:
[code]

The exception occurs:
![image](https://user-images.githubusercontent.com/7589164/79085063-2d2be900-7d8b-11ea-9d6a-eee8fbfcc469.png)

The e

[2020-04-14 19:36] #225 closed

[2020-04-26 21:27] PlagueHO opened #231 "Correct Pipeline Include Path in Azure Pipeline Build YAML"
This is because a recent change to Azure DevOps Pipelines has removed the ability to use `**` in Include/Exclude paths.

https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#wildcards

dsccommunity/ActiveDirectoryDsc#599

[2020-04-26 21:41] PlagueHO opened #232 "Update to Use Latest Version of ModuleBuilder and merge HISTORIC_CHANGELOG"
Update to use latest version of ModuleBuilder module. This also allows merging the HISTORIC_CHANGELOG.MD into the CHANGELOG.MD.

[2020-04-27 19:39] #231 closed

[2020-04-27 19:39] #232 closed

[2020-04-30 11:16] ricohomewood commented on #194
Hi @PlagueHO any update on the above at all? Am i right in thinking the new pipeline is now in place?

[2020-04-30 19:38] PlagueHO commented on #194
Thank you for reminding me @ricohomewood !

[2020-05-02 20:17] PlagueHO opened #234 "Convert Module to use DSCResource.Common"
See this PR for example: dsccommunity/NetworkingDsc#453

[2020-05-03 20:23] #194 closed

[2020-05-11 09:14] PlagueHO opened #237 "Correct Build.YML to Support ModuleBuilder 1.7.0"
The ModuleBuilder 1.7.0 release renamed the `CopyDirectories` attribute to `CopyPaths`. Update the `Build.yml` to fix this issue.

[2020-06-14 01:07] PlagueHO opened #238 "Fix Build Failures due to Pester 5.x"
Pester 5.x has been released and both Sampler and DSCResource.Test has been updated to support it, however, Code Coverage support is not available. To solve this, pin Pester to 4.10.1.

[2020-06-16 04:46] PlagueHO opened #240 "Fix Intermittent Integration Test Failures"
There are intermittent integration test failures occurring in OpticalDiskDriveLetter:
[code]

[2020-06-20 22:17] #234 closed

[2020-06-20 22:17] #237 closed

[2020-06-20 22:17] #238 closed

[2020-07-04 04:54] PlagueHO opened #241 "Enable Automated Documentation Publish to Wiki in Deployment"
Add `- Publish_GitHub_Wiki_Content` to the `publish:` section of `Build.yml`.

[2020-07-09 13:36] StalePizza commented on #196
DiskAccessPath exhibits the same behavior when creating mount points of the same size on the same disk.

[2020-07-16 07:03] PlagueHO commented on #196
This is an unfortunate side effect of how this resource was designed.

My intention was to create a new set of resources that would allow more granular control of partitions/volumes: https://github.com/dsccommunity/StorageDsc/issues/91 . However, it is a reasonably large job that I haven't found time to do.

However, thinking about this a bit, I'm wondering if it would be possible to for us to add

[2020-07-16 07:57] #241 closed

[2020-07-20 07:22] kewalaka commented on #226
Another approach i've used in the past is to use a Script resource to install SQL based on a configuration file - see the example here: https://colinsalmcorner.com/install-and-configure-sql-server-using-powershell-dsc/

You do lose visibility within DSC with this approach, it used to be my go-to method when the install resource was less mature.

Now, the approach i typically take is to create a te

[2020-07-20 16:55] johlju commented on #226
I think you will also hit a problem in SqlSetup if it is used since `Get-TargetResource` expects the `setup.exe` to be available to determine SQL major version. Major version is needed to determine the correct paths in a scenario where multiple instances is installed with different major versions.

[2020-07-22 15:10] aultt commented on #210
@PlagueHO  and @AussieDavo making the following change to the Test-TargetResource of MSFTDSC_Disk corrects the issue:
$partition = Get-Partition `
        -DriveLetter $DriveLetter `
        -ErrorAction SilentlyContinue **|
	select-object -First 1**

[2020-07-22 22:07] PlagueHO commented on #210
Thanks @aultt - That does sound like a possibility. The assumption we made was that it shouldn't have been possible to have two partitions with the same drive letter assigned, but this might not be correct. I'll add this and release a preview version and see if it resolves the issue.

[2020-07-24 19:28] aultt commented on #210
@PlagueHO sounds good I have tested it on my side with Windows2019 and it resolved the issue.

[2020-07-25 06:39] PlagueHO commented on #210
@aultt - thank you for checking that and submitting the solution. I've updated the resource and it has no problems and all tests pass. I just need to add some unit tests to cover this and then I'll submit the PR.

[2020-07-25 22:39] #210 closed

[2020-07-25 23:17] PlagueHO commented on #210
Hi @aultt, @AussieDavo - this has been deployed to the PSGallery as a preview version: https://www.powershellgallery.com/packages/StorageDsc/5.0.1-preview0003

I'll aim to release the full version in a week.

[2020-08-06 20:30] PlagueHO opened #245 "Rename master branch to main"
As per [this statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/).

[2020-08-20 07:28] jojiklmts commented on #196
Could this be related?
I have this very simple PowerShell DSC Disk config. Just trying to set a label.

Disk CVolume
        {
             DiskId = ‘0’
             DriveLetter = ‘C’
             FSLabel = ‘System’
        }
However when the config is executed, DSC is trying to resize the disk for some reason. I am not telling it to touch the disk size. See below the WARNING line in bold.

VERBOS

[2020-08-20 08:12] PlagueHO commented on #196
Hi @jojiklmts - I'm not certain, but this might be because of trying to set the size of C: Drive. I'd assume that this is your %SYSTEMROOT% drive so it would not be a good idea to configure it using this resource. This is most likely because your boot disk usually has one or more additional partitions on it (why C: drive is partition 4).

What is the reason for applying a config to C: drive?

[2020-08-20 08:19] jojiklmts commented on #196
I wish to use DSC as one stop shop for whole config management. It would be better if DSC was not trying to resize the partition if it was not explicitly told to do so. Just trying to contribute if I come across ignorant.

[2020-08-20 21:03] PlagueHO commented on #196
Hi @jojiklmts - you are absolutely right to use DSC as a one stop shop for whole config management, and it is appropriate to do so.

I think though the issue you're seeing is actually the same cause as [this issue](https://github.com/dsccommunity/StorageDsc/issues/181). This was is caused by a bug in `Get-PartitionSupportedSize` (see this [user voice](https://windowsserver.uservoice.com/forums/301

[2020-08-21 07:35] jojiklmts commented on #196
Thanks for your quick response. I implemented workaround. Would it anyway make sense to rewrite DSC Disk resource, not to be using Get-PartitionSupportedSize, unless the programmer wants to do something specifically with disk size?

[2020-08-21 07:51] PlagueHO commented on #196
The challenge there is that the resource is designed so that if you don't specify a size for the partition it assumes you want to make the partition/volume consume all remaining space on the disk.

We could potentially implement a flag to force ignoring the size of the partition - *if* the partition already exists - that would resolve the problem I think? Could you raise that as a separate issue s

[2020-09-29 14:30] mmundy1 commented on #210
I know this is a closed issue, but wanted to call out 1 more error case that causes this error even in 5.0.1.
When you have increased disks in an underlying VM (VMWare in this case but probably a general scenario), but not done a rescan, the 'Cannot convert the "System.Object[]" value'  occurs.

Doing a '"rescan" | diskpart' THEN running the DSC works

[2020-10-01 18:21] bozho opened #247 "Disk: Inexact UniqueID matching"
#### Details of the scenario you tried and the problem that is occurring
It seems that as of recently, AWS doesn't guarantee disk ordering in Windows VMs. Previously, the order was controlled by volume device names (`xvd[a-z]`) and was stable across VM reboots.

Not having stable disk ordering makes disk initialisation and drive letter assignment impossible.

AWS does map EBS volume ID to `UniqueI

[2020-10-01 20:15] PlagueHO commented on #247
Hi @bozho,

Do you have an example of how the resource configuration would look using this? E.g.
[code]

[2020-10-02 08:24] bozho commented on #247
Ah, yes. Apologies - was writing this up yesterday after losing the entire day trying to work around the problem :-)

A sample resource configuration would look something like:
[code]

I think it makes sense to use regex pattern matching here. I have a limited number of machines to test, but `UniqueId` disk property string seems to always contain disk serial number in certain format (for physical

[2020-10-02 19:08] PlagueHO commented on #247
Cool - yep, I think this looks possible. We might need to get the resource to stop though if the RegEx returns more than one disk. Either with a Warning or most likely we'd want an error here.

[2020-10-05 08:17] bozho commented on #247
I was thinking an error. I'll get on implementing this, hopefully some time during this week.

[2020-10-06 01:08] PlagueHO commented on #247
Cool - thanks @bozho . I'll mark it as In Progress.

[2020-10-13 05:07] ianwalkeruk opened #248 "Disk: Test-Resource throws exception on Azure VMSS instances"
#### Details of the scenario you tried and the problem that is occurring

Applying a DSC configuration to an Azure VM Scale Set (VMSS) instance which contains a Disk resource will fail, due to Test-Resource throwing an exception.

The inner exception is cause by the call to Get-PartitionSupportedSize. Further testing shows that this cmdlet always throws an error on SF instances, so it's not a prob

[2020-10-13 19:18] PlagueHO commented on #248
Hi @ianwalkeruk - thanks for raising this. I do indeed need to complete #246 - I ran into some unexpected behavior indicated in the issue didn't line up with what the code did. So I needed to gather some more information but got sidetracked.

Regarding this issue `Get-PartitionSupportedSize` needs to be called when `Size` is _not_ specified because this value is used to determine if the partition

[2020-10-14 08:23] ianwalkeruk commented on #248
Thanks @PlagueHO - noted on the xPendingReboot!

Just done some more testing on my VMSS instance. The exception thrown by Get-PartitionSupportedSize appears to be uncatchable by PowerShell (I even tried a trap).

I'd propose as a workaround, to have a wrapper function around Get-PartitionSupportedSize, which calls it with -ErrorAction SilentlyContinute and then checks the output to see if SizeMin/

[2020-10-20 06:42] ianwalkeruk commented on #247
Hi @bozho

Have you tried using the DiskIdType of Location? I added that last year after having a similar problem with Windows VMs in Azure?

I don't want to stop you from implementing a nice pattern matching type as well, just curious if you've got the time to test the Location type on AWS?

[2020-12-18 16:55] hervedupre commented on #210
None of the "rescan" or "select-object -first 1" tricks worked for me (Win 2016 & 2019 under VmWare and Paravirtual scsi driver). I had to modify my code as :  $Part | Resize-Partition -Size $sizemax**[0] -ErrorAction SilentlyContinue -Verbose**
The [0] takes only the first size of the array of sizes, and if only 1 partition was got, it work also well.   If fact, when you get twice the partition,

[2020-12-30 01:10] #221 closed

[2020-12-30 01:12] PlagueHO opened #250 "Rename master branch to main"
As per [this statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/).

[2020-12-30 18:59] #250 closed

[2021-01-20 08:48] PlagueHO opened #252 "Update GitVersion.yml to use latest pattern"
Update `GitVersion.yml` branches section to:
[code]

As per: https://github.com/dsccommunity/dsccommunity.org/pull/162

[2021-01-20 17:37] #252 closed

[2021-04-09 08:52] PlagueHO opened #254 "Update Sampler Build Tasks"
Update the Sampler Build tasks as per this blog post: https://dsccommunity.org/blog/updating-sampler-github-tasks/

[2021-04-09 10:29] PlagueHO opened #255 "Enable Code Coverage Reporting"
Enable code coverage reporting as per this blog post: https://dsccommunity.org/blog/add-codecov-support-to-repository/

[2021-04-10 13:29] #254 closed

[2021-04-10 13:29] #255 closed

[2021-05-21 06:22] TaylorTWBrown commented on #227
Still experiencing this issue.

[2021-05-21 10:12] PlagueHO commented on #227
@TaylorTWBrown - does this occur outside DSC and which version of WS 2019 is this on?

[2021-09-07 19:02] jambar42 opened #258 "StorageDSC.Common: Assert-AccessPathValid does not properly validate slashes."
https://github.com/dsccommunity/StorageDsc/blob/7aa733b8bd476d90dd51646211c59ba3bbd11c6f/source/Modules/StorageDsc.Common/StorageDsc.Common.psm1#L122-L136

Assert-AccessPathValid does not properly validate slashes.
For instance, if an access path of G:\ is specified as a parameter to DiskAccessPath this code will add another slash after the existing.

[2021-09-07 19:07] jambar42 commented on #258
Proposed change:
Hopefully I'll have some time to PR this soon.

[code]

[2021-09-07 21:02] #258 closed

[2021-09-08 20:54] jambar42 opened #259 "Get-DiskByIdentifier: Allow selection based on Serial Number"
https://github.com/dsccommunity/StorageDsc/blob/7aa733b8bd476d90dd51646211c59ba3bbd11c6f/source/Modules/StorageDsc.Common/StorageDsc.Common.psm1#L163

By querying disk based on serial number, this makes it possible to associate specific shared disks provided by a SAN. Even if the disk ordering is different between 2 cluster nodes, the disk serial number will remain constant.

[2022-03-31 19:31] SergeDubovsky opened #261 "Disk with Number '2' is already initialized with partition style '' but 'MBR' is required."
I am trying to initialize the disk in AWS. Here is the verbose log:
[code]
Here is the DSC:
[code]

It doesn't matter if I set MBR or GPT. It doesn't do anything with ClearDisk /AllowDestructive

[code]
Thank you.

[2022-04-12 07:51] PlagueHO opened #262 "Update Azure DevOps Pipeline Images"
The Ubuntu 16.04 and Windows Server 2016 Azure DevOps pipeline hosted images will be deprecated:

https://devblogs.microsoft.com/devops/hosted-pipelines-image-deprecation/

The pipeline stages need to be migrated to newer versions.

[2022-04-12 07:52] PlagueHO opened #263 "Update CI Pipeline Files from Latest Pattern"
Copy the latest patterns for the `build.yml`, `build.ps1` and `azure-pipelines.yml` from the PR:
https://github.com/dsccommunity/xExchange/pull/471

# build.yml

[code]

[code]

- Also add updated issue templates and related files:
- .github\ISSUE_TEMPLATE
- .github\CONTRIBUTING.md
- .github\PULL_REQUEST_TEMPLATE.md
- .github\ISSUE_TEMPLATE\General.md
- .github\ISSUE_TEMPLATE\Problem_with_resource

[2022-04-12 07:53] PlagueHO opened #264 "Convert to class-based resources"
This resource module should be used as a trial for converting to the class-based resource pattern.

https://dsccommunity.org/blog/class-based-dsc-resources/

[2022-04-12 07:54] PlagueHO opened #265 "Convert tests to Pester 5"
Use this resource module as a trial for converting the tests to Pester v5: https://dsccommunity.org/blog/convert-tests-to-pester5-for-dsc-community-repository/

[2022-04-15 11:06] #262 closed

[2022-04-15 11:06] #263 closed

[2022-07-19 09:41] Fiander opened #267 "DSC_Disk trigers defrag"
### Problem description

we use the storage dsc to configure disks.
but each time it runs (Test-targetResource), it triggers a defrag. This can be seen in the eventlog.

i have traced it down to the Get-PartitionSupportedSize cmdlet. The doc at MS conform this. "This cmdlet starts the "Optimize Drive" (defragsvc) service. This could lead to longer execution time on larger fragmented drives."

This